
{% if current_tags != blank %}
 

{% if current_tags contains 'Color Reds' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Reds</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'REDS_Banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'REDS_Banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Pinks' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title"> Pinks</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'PINKS-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'PINKS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Blues' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Blues</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'BLUES-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'BLUES-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Yellows' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Yellows</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'YELLOWS-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'YELLOWS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Greens' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Greens</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'GREENS-Banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'GREENS-Banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Purples' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Purples</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'PURPLES_Banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'PURPLES_Banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Oranges' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Oranges</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'ORANGES_Banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'ORANGES_Banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Browns' %}
<div class="bnr">
  <header class="collection-header prod">     
 <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Browns</h1>
                </div>
    {% comment %}
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">{{ collection.title }}</h1>
           <a class="open-catenav">Filters</a>
       </div>
    {% endcomment %}
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'BROWNS-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'BROWNS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Neutrals' %}
<div class="bnr">
   <header class="collection-header prod">
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Neutrals</h1>
           <a class="open-catenav">Filters</a>
       </div>
   
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'NEUTRALS-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'NEUTRALS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Whites' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Whites</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'WHITES-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'WHITES-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Blacks' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Blacks</h1>
           <a class="open-catenav">Filters</a>
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'BLACKS-banner.jpg ' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'BLACKS-banner.jpg ' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Golds' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Golds</h1>
           <a class="open-catenav">Filters</a>
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'GOLDS-banner.jpg ' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'GOLDS-banner.jpg ' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Color Silvers' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Silvers</h1>
           <a class="open-catenav">Filters</a>
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'SILVERS-banner.jpg ' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'SILVERS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Types Creme' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Crème</h1>
           <a class="open-catenav">Filters</a>
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'CREMES.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'CREMES.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Types Shimmer' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Shimmer</h1>
           <a class="open-catenav">Filters</a>
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'SHIMMERS.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'SHIMMERS.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Types Glitter' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Glitter</h1>
           <a class="open-catenav">Filters</a>
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'GLITTERS.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'GLITTERS.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Types Nude' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Nude</h1>
           <a class="open-catenav">Filters</a>
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'NUDES.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'NUDES.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif current_tags contains 'Types Neons' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">Neons</h1>
           <a class="open-catenav">Filters</a>
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'NeonHeader_1.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'NeonHeader_1.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>
{% else %}
 {% if section.settings.show_collection_featured %}
  <header class="collection-header">     
      {% if section.settings.collection_side_logo != blank %}
   
         <div class="collection-hero__title-wrapper" style="background-image:url({{ section.settings.collection_side_logo | img_url:'1000x'}})">
       
           <a class="open-catenav">Filters</a>	
      </div>
       
        {%else%}
    
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">{{ collection.title }}</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        {% endif %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: section.settings.collection_featired %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ section.settings.collection_featired | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ section.settings.collection_featired | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
      </div>        
  </header>
 
  {% endif %}
{% endif %}

{% else %}
{% if section.settings.show_collection_featured %}
  <header class="collection-header">     
      {% if section.settings.collection_side_logo != blank %}
   
         <div class="collection-hero__title-wrapper" style="background-image:url({{ section.settings.collection_side_logo | img_url:'1000x'}})">
       
           <a class="open-catenav">Filters</a>	
      </div>
       
        {%else%}
    
         <div class="collection-hero__title-wrapper bgcolor-coll">  
          <h1 class="collection-hero__title">{{ collection.title }}</h1>
           <a class="open-catenav">Filters</a>
       </div>
    
        {% endif %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: section.settings.collection_featired %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ section.settings.collection_featired | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ section.settings.collection_featired | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
      </div>        
  </header>

{% endif %}
{% endif %}
