{% if product.tags contains 'Color Reds' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <div class="collection-hero__title-wrapper" style="background-image:url({{ 'LogoImage_1400x220_C2_2.jpg' | asset_url }}); background-size:cover">
      </div>
           
          
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'HeaderImage_1400x220_C2.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'REDS_Banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>
  
 {% elsif product.tags contains 'Color Pinks' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title"> Pinks</h1>
          
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'PINKS-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'PINKS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>
  
  {% elsif product.tags contains 'Color Blues' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Blues</h1>
          
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'BLUES-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'BLUES-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Yellows' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Yellows</h1>
          
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'YELLOWS-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'YELLOWS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Greens' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Greens</h1>
          
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'GREENS-Banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'GREENS-Banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Purples' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Purples</h1>
          
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'PURPLES_Banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'PURPLES_Banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Oranges' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Oranges</h1>
          
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'ORANGES_Banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'ORANGES_Banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Browns' %}
<div class="bnr">
  <header class="collection-header prod">     
 <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Browns</h1>
                </div>
    {% comment %}
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">{{ collection.title }}</h1>
          
       </div>
    {% endcomment %}
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'BROWNS-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'BROWNS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Neutrals' %}
<div class="bnr">
   <header class="collection-header prod">
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Neutrals</h1>
          
       </div>
   
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'NEUTRALS-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'NEUTRALS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Whites' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Whites</h1>
          
       </div>
    
        
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'WHITES-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'WHITES-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Blacks' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Blacks</h1>
          
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'BLACKS-banner.jpg ' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'BLACKS-banner.jpg ' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Golds' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Golds</h1>
          
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'GOLDS-banner.jpg ' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'GOLDS-banner.jpg ' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Color Silvers' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Silvers</h1>
          
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'SILVERS-banner.jpg ' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'SILVERS-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Types Creme' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Crème</h1>
          
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'CREMES.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'CREMES.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Types Shimmer' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Shimmer</h1>
          
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'SHIMMERS.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'SHIMMERS.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Types Glitter' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Glitter</h1>
          
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'GLITTERS.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'GLITTERS.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Types Nude' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Nude</h1>
          
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'NUDES.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'NUDES.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Types Neons' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Neons</h1>
          
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'NeonHeader_1.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'NeonHeader_1.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>

{% elsif product.tags contains 'Types Sheer' %}
<div class="bnr">
  <header class="collection-header prod">     
         
         <div class="collection-hero__title-wrapper">  
          <h1 class="collection-hero__title">Sheer</h1>
          
       </div>
   
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset'%}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url({{ 'sheer-banner.jpg' | asset_url }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ 'sheer-banner.jpg' | asset_url }});"></div>
        </noscript>
      </div>        
  </header>
</div>
  {% endif %}
