<div class="grid-view-item product-card">
  <a class="grid-view-item__link grid-view-item__image-container product-card__link">
    <span class="visually-hidden">{{ product.title }}</span>

    {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
    {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
    {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

    {% unless product.featured_image == blank %}
      {% include 'image-style' with image: product.featured_image, width: max_height, height: max_height, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
    {% endunless %}

    <a href="{{ product.url | within: collection }}">
      <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper js df">
        <div style="padding-top:{% unless product.featured_image == blank %}{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%{% else %}100%{% endunless %};">
        <div class="reveal">
          <img id="{{ img_id }}"
                class="grid-view-item__image lazyload"
                src="{{ product.featured_image | img_url: '300x300' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{product.title}}">
          <img class="hidden" src="{{ product.images.last | img_url: '300x300' }}" alt="{{ product.images.last.alt | escape }}" />
          </div>
        </div>
      </div>
    </a>

    <div class="h4 grid-view-item__title" aria-hidden="true">{{ product.title }}</div>
    <div class="short_desc">{{ product.description | strip_html | truncate: 100 }}</div>
    <div class="product_weight">
      {% assign current_variant = product.selected_or_first_available_variant %}
        {{ current_variant.sku }} <span class="middle_arrow">|</span>
      {{ product.metafields.global['product_volume'] }}
    </div>
    
    <div class="product_reviews">
      <div data-oke-reviews-product-listing-rating>
        {{ product.metafields.okendo.ProductListingSnippet }}
      </div>
    </div>

    <dl>
      {% if section.settings.show_vendor %}
        <div class="grid-view-item__vendor">
          <dt>
            <span class="visually-hidden">{{ 'products.product.vendor' | t }}</span>
          </dt>
          <dd>
            {{ product.vendor }}
          </dd>
        </div>
      {% endif %}
      {% include 'product-price-all-nail-colors' %}
    </dl>
    
    {% if current_variant.available %}
      {% if product.tags contains 'Beauty Pro Only' %}
      
      {%else%}
      <div class="action">
        <form action="/cart/add" method="post" id="product-form-{{ product.id }}" >   
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <button type="submit" name="add" class="addtocart">
            <span>Add to Cart</span>
          </button>
        </form>
      </div>
      {% endif %}
    {%else%}
      <div class="action">
        <span class="product-price__sold-out" style="text-align:center;">{{ 'products.product.sold_out' | t }}</span>
      </div>
    {% endif %}  
  </a>
</div>
