<div class="multi-level-nav">    
  <input type="checkbox" id="ml-menu" name="ml-menu" class="menu-checkbox">
  <div class="ml-menu">
    <label class="menu-toggle" for="ml-menu" onclick="closeNav()">
      {% render 'icon-close' %}
    </label>
    <ul>
      {%- for link in linklists[section.settings.main_linklist].links -%}
        {% assign p_index = forloop.index %}

        {%- if link.links != blank -%}

          <li>
            <label for="ml-menu-{{p_index}}">
              {{ link.title }}
              
              <span class="nav-menu-icon">
                {% render 'icon-chevron-right' %}
              </span>
            </label>
            <input type="checkbox" id="ml-menu-{{p_index}}" name="ml-menu-{{p_index}}" class="menu-checkbox">

            <div class="ml-menu">
              <label class="menu-toggle" for="ml-menu-{{p_index}}">
                {% render 'icon-chevron-left' %}<span>Back</span>
              </label>
              <ul>
                {%- for child_link in link.links -%}
                  {% assign c_index = forloop.index %}

                  {%- if child_link.links != blank -%}

                    <li>
                      <label for="ml-menu-{{p_index}}-{{c_index}}" {% if child_link.active %} {% endif %}>
                        {{ child_link.title }}
                        <span class="nav-menu-icon">
                          {% render 'icon-chevron-right' %}
                        </span>
                      </label>
                      <input type="checkbox" id="ml-menu-{{p_index}}-{{c_index}}" name="ml-menu-{{p_index}}-{{c_index}}" class="menu-checkbox">

                      <div class="ml-menu">
                        <label class="menu-toggle" for="ml-menu-{{p_index}}-{{c_index}}">{% render 'icon-chevron-left' %}<span>Back</span></label>
                        <ul>
                          {%- for grandchild_link in child_link.links -%}
                            {% assign gc_index = forloop.index %}
                            <li>
                              <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %} {% endif %}>
                                {{ grandchild_link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                        <div class="menu-close" onclick="closeNavFromGrandChild('ml-menu-{{p_index}}-{{c_index}}', 'ml-menu-{{p_index}}')">
                          {% render 'icon-close' %}
                        </div>
                      </div>
                    </li>

                  {%- else -%}

                    <li>
                      <a href="{{ child_link.url }}" {% if child_link.active %} {% endif %}>
                        {{ child_link.title }}
                      </a>
                    </li>

                  {%- endif -%}
                  
                {%- endfor -%}
              </ul>
              <div class="menu-close" onclick="closeNavFromChild('ml-menu-{{p_index}}')">
                {% render 'icon-close' %}
              </div>
            </div>
          </li>

        {%- else -%}

          <li>
            <a href="{{ link.url }}" {% if link.active %} {% endif %}>
              {{ link.title }}
            </a>
          </li>

        {%- endif -%}

      {%- endfor -%}
    </ul>

    <div class="multinav-header">
      <div class="get-color-pass">
        <p><a href="/color-pass">{{ section.settings.content}}</a></p>
      </div>        
      <div class="logo-orly"><a href="/">{% include 'logo-orly' %}</a></div>
    </div>
    <div class="social-wrapper">
      {% include 'social-nav' %}
    </div>
  </div>
  <div class="window-mask">
    
  </div>
  
</div>

