{%- assign display_map = false -%}
{%- assign onboarding = false -%}
{%- assign bg_image = section.settings.background_image -%}

{%- if section.settings.api_key == blank and bg_image == blank -%}
  {%- assign onboarding = true -%}
{%- endif -%}
{%- if section.settings.api_key != blank and section.settings.map_address -%}
  {%- assign display_map = true -%}
{%- endif -%}

<style>
  {% if bg_image.src != blank %}
  #MapSection--{{ section.id }} .map-section__image {
    background-position: {{ section.settings.background_image_position }};
  }

  @media only screen and (max-width: 750px) {
    #MapSection--{{ section.id }} .map-section__image {
      padding-top: {{ 1 | divided_by: bg_image.aspect_ratio | times: 100 }}%;
    }
  }
  {% endif %}
</style>


<div id="MapSection--{{ section.id }}"
     class="map-section
           {% if display_map %}map-section--display-map{% endif %}
           {% if onboarding == true %}map-section--onboarding{% endif %}"
     data-section-id="{{ section.id }}"
     data-section-type="map">
  <div class="page-width map-section__wrapper">
    <div class="map-section__content-wrapper">
      <div class="map-section__content">
        <h2 class="visually-hidden visually-hidden--static">{{ 'sections.map.section_heading' | t }}</h2>
        {% if section.settings.heading != blank %}
          <h3 class="h4">{{ section.settings.heading | escape }}</h3>
        {% endif %}
        {% if section.settings.address != blank %}
          <div class="rte-setting">{{ section.settings.address }}</div>
          {% if section.settings.map_address != blank and section.settings.button_text != blank %}
            <p>
              <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}"
                 class="btn btn--secondary btn--small map_section__directions-btn"
                 target="_blank"
                 rel="noopener"
                 aria-describedby="a11y-new-window-external-message"
              >
                {% if section.settings.show_pin %}{% include 'icon-pin' %}{% endif %}
                <span>{{ section.settings.button_text | escape }}</span>
              </a>
            </p>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="map-section__background-wrapper">
      {% if bg_image != blank %}
        <div class="map-section__image lazyload js"
             data-bgset="{% include 'bgset', image: bg_image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ bg_image | img_url: '300x300' }});">
        </div>
        <noscript>
          <div class="map-section__image" style="background-image: url({{ bg_image | img_url: 'x800', crop: 'top' }});"></div>
        </noscript>
      {% elsif onboarding == true %}
        <div class="placeholder-background">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
      {% if display_map %}
        <div class="map-section__container"
             id="Map-{{ section.id }}"
             data-map
             data-address-setting="{{ section.settings.map_address | escape }}"
             data-api-key="{{ section.settings.api_key }}">
        </div>
        <div class="map-section__overlay" data-map-overlay></div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Map",
      "de": "Karte",
      "fr": "Carte"
    },
    "class": "index-section index-section--flush-medium-up",
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Text",
          "de": "Text",
          "fr": "Texte"
        }
      },
      {
        "id": "heading",
        "type": "text",
        "label": {
          "en": "Heading",
          "de": "Titel",
          "fr": "En-tête"
        },
        "default": {
          "en": "Our store",
          "de": "Unser Laden",
          "fr": "Notre boutique"
        }
      },
      {
        "id": "address",
        "type": "richtext",
        "label": {
          "en": "Address and hours",
          "de": "Adresse und Öffnungszeiten",
          "fr": "Adresse et heures d'ouverture"
        },
        "default": {
          "en": "<p>123 Fake St.<br>Toronto, Canada</p><p>Mon - Fri, 10am - 9pm<br>Saturday, 11am - 9pm<br>Sunday, 11am - 5pm</p>",
          "de": "<p>Musterstraße 123<br>12345 Musterstadt</p><p>Mo - Fr, 10 - 21 Uhr<br>Samstag, 11 - 21 Uhr<br>Sonntag, Ruhetag</p>",
          "fr": "<p>123 5e Avenue<br>Toronto, Canada</p><p>Lundi au vendredi, 10 h 00 à 21 h 00<br>Samedi, 11 h 00 à 21 h 00<br>Dimanche, fermé"
        }
      },
      {
        "id": "map_address",
        "type": "text",
        "label": {
          "en": "Map address",
          "de": "Adresse",
          "fr": "Adresse de la carte"
        },
        "info": {
          "en": "Google Maps will find the exact location",
          "de": "Google Maps findet die richtige Adresse",
          "fr": "Google Maps trouvera l'adresse exacte"
        },
        "default": {
          "en": "301 Front St W, Toronto",
          "de": "4141 Pierre-de Coubertin Ave, Montreal",
          "fr": "Arsenalo g. 5, Vilnius"
        }
      },
      {
        "id": "button_text",
        "type": "text",
        "label": {
          "en": "Map link label",
          "de": "Link auf der Karte",
          "fr": "Texte du lien de la carte"
        },
        "default": {
          "en": "Get directions",
          "de": "Wegbeschreibung bekommen",
          "fr": "Obtenir un itinéraire"
        }
      },
      {
        "id": "show_pin",
        "type": "checkbox",
        "label": {
          "en": "Show pin",
          "de": "Pin anzeigen",
          "fr": "Afficher l'épingle"
        },
        "default": true
      },
      {
        "type": "header",
        "content": {
          "en": "Background",
          "de": "Hintergrund",
          "fr": "Arrière-plan"
        }
      },
      {
        "id": "api_key",
        "type": "text",
        "label": {
          "en": "Google Maps API key",
          "de": "Google Maps API Key",
          "fr": "Clé d'API Google Maps"
        },
        "info": {
          "en": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map",
          "de": "Sie müssen [einen Google Maps API Key registrieren](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) zum Anzeigen der Karte",
          "fr": "Vous devez obtenir une [clé d'API pour Google Maps](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key)"
        }
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": {
          "en": "Image",
          "de": "Foto",
          "fr": "Image"
        },
        "info": {
          "en": "Displayed if the map isn’t loaded",
          "de": "Anzeigen, wenn Karte nicht lädt",
          "fr": "Affichée si la carte ne charge pas"
        }
      },
      {
        "type": "select",
        "id": "background_image_position",
        "label": {
          "en": "Image position",
          "de": "Foto-Position",
          "fr": "Position de l'image"
        },
        "default": "center center",
        "options": [
          {
            "label": {
              "en": "Top left",
              "de": "Oben links",
              "fr": "En haut à gauche"
            },
            "value": "top left"
          },
          {
            "label": {
              "en": "Top center",
              "de": "Oben Mitte",
              "fr": "En haut au centre"
            },
            "value": "top center"
          },
          {
            "label": {
              "en": "Top right",
              "de": "Oben rechts",
              "fr": "En haut à droite"
            },
            "value": "top right"
          },
          {
            "label": {
              "en": "Middle left",
              "de": "Mitte links",
              "fr": "Au milieu à gauche"
            },
            "value": "center left"
          },
          {
            "label": {
              "en": "Middle center",
              "de": "Mitte mittig",
              "fr": "Centrée au milieu"
            },
            "value": "center center"
          },
          {
            "label": {
              "en": "Middle right",
              "de": "Mitte rechts",
              "fr": "Au milieu à droite"
            },
            "value": "center right"
          },
          {
            "label": {
              "en": "Bottom left",
              "de": "Unten links",
              "fr": "En bas à gauche"
            },
            "value": "bottom left"
          },
          {
            "label": {
              "en": "Bottom center",
              "de": "Unten mittig",
              "fr": "En bas au centre"
            },
            "value": "bottom center"
          },
          {
            "label": {
              "en": "Bottom right",
              "de": "Unten rechts",
              "fr": "En bas à droite"
            },
            "value": "bottom right"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Map",
          "de": "Karte",
          "fr": "Carte"
        },
        "category": {
          "en": "Store information",
          "de": "Laden-Info",
          "fr": "Renseignements sur votre boutique"
        }
      }
    ]
  }
{% endschema %}
