<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
            <blockquote class="quotes-slider__text text-center">
              <span class="quote-icon">{% include 'icon-quote' %}</span>
              {% if block.settings.quote != blank %}
                <div class="rte-setting rte">{{ block.settings.quote }}</div>
              {% endif %}
              {% if block.settings.author != blank %}
                <cite>{{ block.settings.author | escape }}</cite>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% schema %}
  {
    "name": {
      "en": "Testimonials",
      "de": "Testimonials",
      "fr": "Témoignages"
    },
    "class": "index-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "en": "Heading",
          "de": "Titel",
          "fr": "En-tête"
        },
        "default": {
          "en": "Testimonials",
          "de": "Testimonials",
          "fr": "Témoignages"
        }
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": {
          "en": "Testimonial",
          "de": "Testimonial",
          "fr": "Témoignages"
        },
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": {
              "en": "Text",
              "de": "Text",
              "fr": "Texte"
            },
            "default": {
              "en": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
              "de": "<p>Kunden-Reviews und Testimonials, die Kundenzufriedenheit beweisen.</p>",
              "fr": "<p>Ajoutez des avis et témoignages pour mettre en avant vos clients satisfaits.</p>"
            }
          },
          {
            "type": "text",
            "id": "author",
            "label": {
              "en": "Author",
              "de": "Autor",
              "fr": "Auteur"
            },
            "default": {
              "en": "Author's name",
              "de": "Name des Autors",
              "fr": "Nom de l'auteur"
            }
          }
        ]
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Testimonials",
          "de": "Testimonials",
          "fr": "Témoignages"
        },
        "category": {
          "en": "Text",
          "de": "Text",
          "fr": "Texte"
        },
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
