<link rel="stylesheet" href="{{ 'pagefly.989e73b2.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_156148957283 == null %}{%- assign collection_156148957283 = collections["aura"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["156148957283"] = {{collection_156148957283 | json }};
	</script><div style="opacity:0" class="sc-dwqbIM lgnhdE __pf" id="__pf"><div data-pf-type="Body" class="sc-eggNIi JiLrb pf-1d5c"><div data-pf-type="Layout" class="sc-jcVebW hrCIoP pf-baef"><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-326f"><div style="--cw:1324px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-233d pf-r pf-r-eh  pf-hide" style="--s-xs:1.5px;--s-sm:15px;--s-lg:14px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-457b"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-42b18958-a0b7-487f-86f6-a3bec6cca209--AuraCollection.jpg?7954" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-42b18958-a0b7-487f-86f6-a3bec6cca209--AuraCollection.jpg?7954 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-42b18958-a0b7-487f-86f6-a3bec6cca209--AuraCollection_500x.jpg?7954 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-e90d"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-4932"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-b24284a9-5994-4991-9b1b-92b0e2cdd492--AuraLogo.jpg?7958" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-b24284a9-5994-4991-9b1b-92b0e2cdd492--AuraLogo.jpg?7958 1536w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" alt="Mazz Hanna x ORLY" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-c9ec"/><p class="sc-lcujXC epPudT pf-be98" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-5d77">6 NEW WEB-EXCLUSIVE BREATHABLE SHADES</span></p><p class="sc-lcujXC epPudT pf-2d44" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-2788">Introducing six limited edition duo chrome Breathable shades.&nbsp;You won’t find these in stores, these six collectible polishes are so packed with premium pigments that they could only be offered online! <br><br>Express yourself with shades inspired by the colors found in aura photography. Perfect for gifting, these luxury shades come complete with premium packaging. <br><br>Don’t wait on these powerful polishes, once they’re sold out, they’re gone forever.&nbsp;<br><br>.<br>
<br><br></span></p></div></div></div><div class="sc-jgHCyG eZqcrI pf-8a51 pf-r pf-r-eh  pf-lg-hide pf-md-hide pf-sm-hide" style="--s-xs:1.5px;--s-sm:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-3372"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-875d23db-4802-484d-bbb0-0041830d9ca3--auradrip.jpg?7964" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-875d23db-4802-484d-bbb0-0041830d9ca3--auradrip.jpg?7964 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-875d23db-4802-484d-bbb0-0041830d9ca3--auradrip_1500x.jpg?7964 1280w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-875d23db-4802-484d-bbb0-0041830d9ca3--auradrip_1000x.jpg?7964 768w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-875d23db-4802-484d-bbb0-0041830d9ca3--auradrip_500x.jpg?7964 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-f611"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-7d44"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-6dce6605-5b9b-44ad-b307-0c7b8ae80830--AuraLogo.png?7956" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-6dce6605-5b9b-44ad-b307-0c7b8ae80830--AuraLogo.png?7956 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-6dce6605-5b9b-44ad-b307-0c7b8ae80830--AuraLogo_1000x.png?7956 768w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-6dce6605-5b9b-44ad-b307-0c7b8ae80830--AuraLogo_500x.png?7956 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" alt="AURA Breathable" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-3984"/><p class="sc-lcujXC epPudT pf-219e" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-8c78">6 NEW WEB-EXCLUSIVE BREATHABLE SHADES</span></p><p class="sc-lcujXC epPudT pf-f268" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-3a14">Introducing six limited edition duo chrome Breathable shades.&nbsp;You won’t find these in stores, these six collectible polishes are so packed with premium pigments that they could only be offered online! <br><br>Express yourself with shades inspired by the colors found in aura photography. Perfect for gifting, these luxury shades come complete with premium packaging. <br><br>Don’t wait on these powerful polishes, once they’re sold out, they’re gone forever.&nbsp;<br><br>.<br>
<br><br></span></p></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-0df8"><div style="--cw:1307px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-8cb7 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-3a58"><div class="sc-gsBrbv bjQOGp pf-6159 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:4;--ew-lg:3" data-pf-type="ProductList">{% assign collection_156148957283 = collections["aura"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_156148957283.products by 6 %}<!-- -->{% for product in collection_156148957283.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-2ec6">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-64d4">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-iIEYCM iYnuOK pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x304.234", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-7461 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-2503">{{ product.title }}</h3><div class="sc-jgHCyG eZqcrI pf-4aac pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-c74a"><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-f5c7"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div></div></div></div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-19ff">{{ product.variants[0].price | money }}</div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-7149"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-2610 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-a75f"><p class="sc-lcujXC epPudT pf-6621" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-933b">*ORLY AURA Collection excluded from all promotions.</span></p></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-ba84"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-a64d pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-10a0"></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-de5c"></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.16","shopDomain":"orlybeauty.myshopify.com","elementData":{"64d4":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"61f5":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Aura-Breathable-Collection","pageType":"collection","pageId":"989e73b2-a2b9-4d02-9f13-f727f4ffe501","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@400&family=Lato:wght@400&display=swap","trackingIDs":[{"elementId":"f9150abe-64d4-4529-8997-d8af6bd33629","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"fc83b977-2503-4c17-bfd3-03c9a856c775","elementType":"ProductTitle","elementName":"ProductTitle"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.16/core/helper.js" defer></script>