<link rel="stylesheet" href="{{ 'pagefly.9e04a346.css' | asset_url }}">
		 <style>.wait-list { 	background-color:#77e3d1 !important; }</style> <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_172047990883 == null %}{%- assign collection_172047990883 = collections["gel-kits"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["172047990883"] = {{collection_172047990883 | json }};
	</script><div style="opacity:0" class="sc-dwqbIM lgnhdE __pf" id="__pf"><div data-pf-type="Body" class="sc-eggNIi JiLrb pf-0627"><div data-pf-type="Layout" class="sc-jcVebW hrCIoP pf-9bf6"><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-ff1a"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-0eff pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-7080"><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-2770"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script></div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-af1a"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-acaf pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-89ac"><div class="sc-jgHCyG eZqcrI pf-a889 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-f748"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-885b7d47--GelKitsCollection.jpg?v=1604360514" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-885b7d47--GelKitsCollection.jpg?v=1604360514 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-885b7d47--GelKitsCollection_500x.jpg?v=1604360514 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-04e3"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-45a8"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-83885b7d--GelKitsLogo.jpg?v=1604360502" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-83885b7d--GelKitsLogo.jpg?v=1604360502 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-83885b7d--GelKitsLogo_500x.jpg?v=1604360502 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-4881"/><p class="sc-lcujXC epPudT pf-c245" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-abb7"><br><span style="font-weight: bold;">The Original Vitamin-Infused Gel Manicure System <br></span>Chip-free wear &amp; brilliant shine up to 21 days. <br>Antioxidants Vitamin A &amp; E promote healthy nails. <br>Pro-Vitamin B5 protects nail structure.<br><br><span style="font-weight: bold;">CRUELTY-FREE<br>VEGAN<br>FORMULATED WITHOUT HARMFUL INGREDIENTS<br>MADE IN THE USA</span><br></span></p></div></div></div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-3f9b"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-aa3f pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-eea1"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-53ee"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-50ea">ALL KITS</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-4eaa"><div class="sc-gsBrbv bjQOGp pf-6daf pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:4;--ew-lg:3" data-pf-type="ProductList">{% assign collection_172047990883 = collections["gel-kits"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_172047990883.products by 20 %}<!-- -->{% for product in collection_172047990883.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-7c14">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-781a pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-e0c4"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-9eb5">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-iIEYCM iYnuOK pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x270", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-4e05 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-0a66">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-9f1a"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-d24c">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Join Waitlist" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-Fyfyc kpvTMt pf-bdb9 add-to-cart"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.16","shopDomain":"orlybeauty.myshopify.com","elementData":{"9eb5":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"059f":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Gel Kits","pageType":"collection","pageId":"9e04a346-be06-4770-800e-ff1a04e3f748","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Average+Sans:wght@400&display=swap","trackingIDs":[{"elementId":"ea53eea1-9eb5-4a66-924c-4c94bdb9e0c4","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"eea19eb5-0a66-424c-8c94-bdb9e0c4781a","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"d24c4c94-bdb9-40c4-b81a-7c146daf45f6","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.16/core/helper.js" defer></script><script>

$( document ).ready(function() {
   setTimeout(function() {
  $( ".add-to-cart" ).each(function( index ) {
 //console.log( index + ": " + $( this ).text() );
	$( this ).prop('disabled', false);
	$( this ).removeAttr("disabled");
	if ($( this ).text()!='Add To Cart'){
	  $( this ).addClass('wait-list');
	 // $(this).addClass('BIS_trigger');
	 // $(this).attr('data-product-data', '222');
	}
});
  }, 2000);	  
});
$('.add-to-cart').click(function() {
	   var handle = $(this).closest('div').find('h3').attr('data-href');
  if ($( this ).text()!='Add To Cart'){
	  jQuery.getJSON(handle+".js", function(product) {
     // alert('The title of this product is ' + product.variants[0].id);
		var variant_id = product.variants[0].id;
		//BISPopover.show({variantId: product.variants[0].id})
		var email = prompt("Notify me when "+ product.title+" is back in stock!", "Your email address");
		BIS.create(email, variant_id, product.id);
		$( this ).text("You will be notified!");
		
      });
  }
});


</script>