<link rel="stylesheet" href="{{ 'pagefly.5dec862d.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_136429600867 == null %}{%- assign collection_136429600867 = collections["tools"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["136429600867"] = {{collection_136429600867 | json }};
	</script><div style="opacity:0" class="sc-dbHIbR kjldCA __pf" id="__pf"><div data-pf-type="Body" class="sc-cTZfEe fSLydk pf-8a51"><div data-pf-type="Layout" class="sc-caHA-dK jOmZQS pf-eb52"><div data-pf-type="CollectionPreview" class="pf-c565" store="[object Object]"> </div><div data-pf-type="Section" class="sc-hUhehu hIuXSG pf-0f01"><div style="--cw:1170px" class="sc-khYaBf btIsNg"><div class="sc-bBzLcm fTkHvH pf-3d0f pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jNDhzP EJApd pf-6e3d"><div class="sc-bBzLcm fTkHvH pf-6d6e pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jNDhzP EJApd pf-bc33"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-221f8d2e--Toolspageflybanner.jpg?v=1617044405" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-221f8d2e--Toolspageflybanner.jpg?v=1617044405 1536w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-kLEdLr beNhWf pf-51bc"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jNDhzP EJApd pf-b76d"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-e7221f8d--Toolslogo.jpg?v=1617044325" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-e7221f8d--Toolslogo.jpg?v=1617044325 1536w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-kLEdLr beNhWf pf-33ee"/><p class="sc-jePOVA eyTBns pf-78b7" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ZWpAl fKFbvj pf-c078">Shop all the essentials needed for a perfect manicure or pedicure. <br><br>Plus, choose from our range of nail art tools and unleash your creativity.<br></span></p></div></div></div></div></div></div></div></div><div data-pf-type="Section" class="sc-hUhehu hIuXSG pf-d4d1"><div style="--cw:1170px" class="sc-khYaBf btIsNg"><div class="sc-bBzLcm fTkHvH pf-25d4 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jNDhzP EJApd pf-f925"><div class="sc-jtyPRL bkqYVj pf-71f9 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:3" data-pf-type="ProductList">{% assign collection_136429600867 = collections["tools"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_136429600867.products by 20 %}<!-- -->{% for product in collection_136429600867.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dWlYLs eeGaoC pf-a671">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBzLcm fTkHvH pf-82a6 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jNDhzP EJApd pf-ba82"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-gyMicV bpfMoQ pf-453d">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:3;--l-sm:5;--w-xs:;--w-md:0" class="sc-dwkrxu cthdvE pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:30.943396226415093%" class="sc-kTmxMl itEIVj"><img src="{{ product.featured_image | img_url: "x368.406", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-gkmwsU hEKoDz  pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-eXKtCu epgSFn   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-iFUxdp evwtsd pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 2 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-iruLto govIKe pf-7448 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-fmkfmv bEDHSq"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-fmkfmv bEDHSq"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-hjOVLF gcOGXi pf-3da4">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-giQjQO biIwUo pf-a430"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-dTCErJ koNJTp pf-30b2">{{ product.variants[0].compare_at_price | money }}</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-dTCErJ koNJTp pf-b2a3">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-xqHvd fLceAG pf-65ba"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.24","shopDomain":"orlybeauty.myshopify.com","elementData":{"4845":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"453d":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":3},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"}},"pageTitle":"Tools","pageType":"collection","pageId":"5dec862d-1a8a-41bc-b3ee-c078b76d6e3d","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Average+Sans:wght@400&display=swap","trackingIDs":[{"elementId":"3d1a7448-453d-4430-b2a3-4665ba82a671","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"1a744845-3da4-40b2-a346-65ba82a671f9","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"30b2a346-65ba-42a6-b1f9-25d4d1e44a54","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.24/core/helper.js" defer></script><script>setTimeout(function(){
jQuery('[data-pf-type="ProductATC"]').click(function(){
callRefreshCart(); cartDrawer();
})
}, 2000);</script>