<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.11.0/css/main-style.css?t=20200525200537"><link rel="stylesheet" href="{{ 'pagefly.39b32f8f.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-e6fe0e22"><div data-pf-type="Layout" class="pf-3689e6fe"><div data-container="true" class="sc-pZopv bjKdkd pf-5d775e63" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-dfc85d77 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e1dcdfc8" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-716de1dc"><script src="http://sdks.shopifycdn.com/buy-button/1.0.0/buybutton.js"></script>
<!-- HTML code -->
<div id="product"></div>
<div id="product2"></div>
<style>
    #product2 {display: none;}
</style>
<script>
  
var client = ShopifyBuy.buildClient({
  domain: 'orlybeauty.myshopify.com',
  storefrontAccessToken: '3c352f91ca3fda2370d87d0d56e60820', // previously apiKey, now deprecated
});

var ui = ShopifyBuy.UI.init(client);
ui.createComponent('product', {
  id: 1495853039715, // the id of the first product
  node: document.getElementById('product'),
  options: {
    product: {
      events: {
          addVariantToCart: function(product) {
            document.getElementById("hidden_prd").click();
            // this call auto add the second product to cart together with the first product
        }
      },
      contents: {
        variantTitle: true,
        quantity: true,
      },
      templates: {
        quantity: '<div class="{{data.classes.product.quantity}} {{data.quantityClass}}">'  +
        '<p><label class="{{data.classes.option.label}}">Quantity:</lable></p><input class="{{data.classes.product.quantityInput}}" type="number" min="0" aria-label="Quantity" value="{{data.selectedQuantity}}">' +
        '</div>'
      },
      styles: {
        quantity: {
          'margin-top': '0!important',
        },
        quantityInput: {
          'border-radius': 0
        },
        button: {
          'background-color': 'black',
          'border-radius': 0,
        }
      },
      text: {
        button: 'Add to bag'
      },
      viewData: {
        optionName: function () {
          return function (text, render) {
            var key = render(text).trim();
            if (colors[key]) {
              return '';
            }
            return sizes[key];
          }
        },
        styleAttr: function () {
          return function (text, render) {
            var key = render(text).trim();
            var styleAttr = '';
            if (key) {
              styleAttr = 'style="background-color: ' + colors[key] + '"';
            }
            return styleAttr;
          }
        }
      },
    }
  }
});

ui.createComponent('product', {
  id: 1495811948643, // the id of the second product
  node: document.getElementById('product2'),
  options: {
    product: {
      contents: {
        variantTitle: true,
        quantity: true,
      },
      templates: {
        button: '<button id="hidden_prd" class="{{data.classes.product.button}} {{data.buttonClass}}">' +
          '{{data.buttonText}}</button>',
        quantity: '<div class="{{data.classes.product.quantity}} {{data.quantityClass}}">'  +
        '<p><label class="{{data.classes.option.label}}">Quantity:</lable></p><input class="{{data.classes.product.quantityInput}}" type="number" min="0" aria-label="Quantity" value="{{data.selectedQuantity}}">' +
        '</div>'
      },
      iframe: false,
      styles: {
        quantity: {
          'margin-top': '0!important',
        },
        quantityInput: {
          'border-radius': 0
        },
        button: {
          'background-color': 'black',
          'border-radius': 0,
        }
      },
      text: {
        button: 'Add to bag'
      },
      viewData: {
        optionName: function () {
          return function (text, render) {
            var key = render(text).trim();
            if (colors[key]) {
              return '';
            }
            return sizes[key];
          }
        },
        styleAttr: function () {
          return function (text, render) {
            var key = render(text).trim();
            var styleAttr = '';
            if (key) {
              styleAttr = 'style="background-color: ' + colors[key] + '"';
            }
            return styleAttr;
          }
        }
      },
    }
  }
});

</script> </div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.11.0","shopDomain":"orlybeauty.myshopify.com","elementData":{},"pageTitle":"free gift with this purchase","pageType":"page","pageId":"39b32f8f-92f9-4bea-ae9a-f137f8eb5e36","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.11.0/core/helper.js?t=20200525200537" defer></script>