<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Amatic+SC:400|Average+Sans:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.2/css/main-style.css?t=20210119090127"><link rel="stylesheet" href="{{ 'pagefly.9bcac00d.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script>{% if collection_171946115171 == null %}{%- assign collection_171946115171 = collections['metropolis-gels'] -%}{% endif %} {% if collection_171946180707 == null %}{%- assign collection_171946180707 = collections['metropolis-perfect-pairs'] -%}{% endif %} {% if collection_171946147939 == null %}{%- assign collection_171946147939 = collections['metropolis-kits'] -%}{% endif %} {% if collection_171946082403 == null %}{%- assign collection_171946082403 = collections['metropolis-nail-lacquers'] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["171946115171"] = {{collection_171946115171 | json }};
window.__pageflyCollections["171946180707"] = {{collection_171946180707 | json }};
window.__pageflyCollections["171946147939"] = {{collection_171946147939 | json }};
window.__pageflyCollections["171946082403"] = {{collection_171946082403 | json }};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-8df14c15"><div data-pf-type="Layout" class="pf-e48df14c"><div data-container="true" class="sc-pZopv bjKdkd pf-ca4ca8de" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-34fdd3ce pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-36ca34fd" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-239aebaf--DSC06355.gif?v=1611078752 1200w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-239aebaf--DSC06355_800x800.gif?v=1611078752&resized 800w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-239aebaf--DSC06355_400x400.gif?v=1611078752&resized 400w" class="sc-qZtVr dLIPjF pf-a8de36ca" data-pf-type="Image2"></div></div></div><div class="sc-qPjXN eYzxUD pf-16001c4d pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-92201600" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-337f9220"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ae50337f"><span style="font-weight: bold;">Look’s like you’re a little early! <br></span>Sign up now to be notified for our latest launches.<br></span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-a85ea2eb pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-37e3a85e" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-ebaf5a37"><!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
	#mergeRow-gdpr {margin-top: 20px;}
	#mergeRow-gdpr fieldset label {font-weight: normal;}
	#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style>
<div id="mc_embed_signup">
<form action="https://orlybeauty.us3.list-manage.com/subscribe/post?u=5e3e7d11af3dd39356bc8eab6&id=b6240f7d3a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
    <div id="mc_embed_signup_scroll">

<div class="mc-field-group">
  <center>
	<font face="Lato">
	<label for="mce-EMAIL">EMAIL  
</label></font>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	</center>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5e3e7d11af3dd39356bc8eab6_b6240f7d3a" tabindex="-1" value=""></div>
   <center> <div class="clear"><input type="submit" font="lato" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button"></div></center>
    </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='CGROUP';ftypes[10]='dropdown';fnames[11]='PCOUPON';ftypes[11]='text';fnames[12]='POPUP';ftypes[12]='text';fnames[13]='POPUP_COUP';ftypes[13]='text';fnames[14]='MMERGE14';ftypes[14]='text';fnames[15]='MMERGE15';ftypes[15]='text';fnames[16]='MMERGE16';ftypes[16]='text';fnames[17]='MMERGE17';ftypes[17]='text';fnames[18]='MMERGE18';ftypes[18]='text';fnames[19]='MMERGE19';ftypes[19]='text';fnames[20]='MMERGE20';ftypes[20]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup--></div></div></div></div><div class="sc-qPjXN eYzxUD pf-3cf9d320 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-27b03cf9" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-c29127b0"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2651c291">Can’t wait to hit the road? Grab our Spring 2021 Day Trippin’ early when you subscribe to Color Pass.</span></p><a href="/pages/sign-up-for-color-pass" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-80239aeb"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9e928023">Learn More</span></a></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.2","shopDomain":"orlybeauty.myshopify.com","elementData":{},"pageTitle":"Day Trippin' - Spring 2021 Nail Color - Cruelty-Free / Vegan","pageType":"page","pageId":"9bcac00d-6dbc-40d7-bf1c-8961cd5f0fc0","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-19T18:11:17.850Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.2/core/helper.js?t=20210119090127" defer></script><script>

$( document ).ready(function() {
   setTimeout(function() {
  $( ".add-to-cart" ).each(function( index ) {
  console.log( index + ": " + $( this ).text() );
	$( this ).prop('disabled', false);
	$( this ).removeAttr("disabled");
	if ($( this ).text()!='Add To Cart'){
	  $( this ).addClass('wait-list');
	 // $(this).addClass('BIS_trigger');
	 // $(this).attr('data-product-data', '222');
	}
});
  }, 2000);	  
});
$('.add-to-cart').click(function() {
	   var handle = $(this).closest('div').find('h3').attr('data-href');
  if ($( this ).text()!='Add To Cart'){
	  jQuery.getJSON(handle+".js", function(product) {
     // alert('The title of this product is ' + product.variants[0].id);
		var variant_id = product.variants[0].id;
		//BISPopover.show({variantId: product.variants[0].id})
		var email = prompt("Notify me when "+ product.title+" is back in stock!", "Your email address");
		BIS.create(email, variant_id, product.id);
		$( this ).text("You will be notified!");
		
      });
  }
});


</script>