<link rel="stylesheet" href="{{ 'pagefly.d9cb434a.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_171455447139 == null %}{%- assign collection_171455447139 = collections["all-tangled-up"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["171455447139"] = {{collection_171455447139 | json }};
	</script><div style="opacity:0" class="sc-dcwrBW vDTBn __pf" id="__pf"><div data-pf-type="Body" class="sc-cTkwdZ fFvlhF pf-942c"><div data-pf-type="Layout" class="sc-bZSQDF eUgDnc pf-4603"><div data-pf-type="Section" class="sc-hTZhsR cQSaWH pf-3b46"><div style="--cw:1170px" class="sc-khAkjo dgxcKs"><div class="sc-bBrOnJ bhhAF pf-ea78 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jNMdTA ewqGCM pf-82ea"><div class="sc-bBrOnJ bhhAF pf-7382 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jNMdTA ewqGCM pf-0a1b"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-b804e3b8--ATUPagefly-Image.jpg?v=1601313768" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-b804e3b8--ATUPagefly-Image.jpg?v=1601313768 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-b804e3b8--ATUPagefly-Image_500x.jpg?v=1601313768 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-kLgntA iHaOcn pf-2cea"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jNMdTA ewqGCM pf-b673"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-7fb804e3--ATUPageflyLogo.jpg?v=1601313755" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-7fb804e3--ATUPageflyLogo.jpg?v=1601313755 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-7fb804e3--ATUPageflyLogo_500x.jpg?v=1601313755 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-kLgntA iHaOcn pf-1bce"/><p class="sc-jeGSBP hesmsJ pf-cbb6" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-aemoO iOmLqx pf-e21a"><span style="font-weight: bold;">We’re taking a page from winter’s softer side.<br></span><br>Dark, woodsy cremes inspired by picturesque cabins covered in winter’s first snow mix with champagne shimmers inspired by hopeful year-end toasts. <span style="font-weight: bold;">Here, adventurers don’t mind getting all tangled up in their plans to stay in.</span><br><br>Cold fingertips painted with soft, mauve cremes wrap around hot cocoa as the fire crackles. Get closer to those that have caught your eye with their diamond potential and you just might find your daydreams of holiday magic and love at first sight coming true.<br><br>VEGAN • CRUELTY-FREE • MADE IN USA • FORMULATED WITHOUT HARMFUL INGREDIENTS • ONE-STEP, NO BASECOAT OR TOPCOAT REQUIRED<br></span></p></div></div></div></div></div></div><div class="sc-bBrOnJ bhhAF pf-94b0 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jNMdTA ewqGCM pf-b194"><h3 data-pf-type="Heading" class="sc-iJuUWI jgytAp pf-5cee"><span data-pf-type="Text" class="sc-aemoO iOmLqx pf-6e0d">NAIL COLOR</span></h3></div></div></div><div class="sc-bBrOnJ bhhAF pf-303b pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jNMdTA ewqGCM pf-1e30"><div class="sc-jtHMlw dQunTR pf-6b1e pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:2;--ew-md:3" data-pf-type="ProductList">{% assign collection_171455447139 = collections["all-tangled-up"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_171455447139.products by 6 %}<!-- -->{% for product in collection_171455447139.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-dWdcrH hKxtfS pf-663a">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBrOnJ bhhAF pf-6233 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jNMdTA ewqGCM pf-ae3e"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-gyUeRy fFXEDN pf-7a00">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-dwcuIR CLZrK pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-kUbhmq gYnIbb"><img src="{{ product.featured_image | img_url: "x270", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-gkdzZj cmAEMu  pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-eWVKcp hqFZpw   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-iGctRS fpSvqg pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-irlOZD jUdyne pf-93f5 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-flMoUE ciwbCw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-flMoUE ciwbCw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-hjWSAi jEjURK pf-b7fb">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-giIncl gHUUHu pf-a67f"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-dUrnRO AXFeE pf-ce49">{{ product.variants[0].compare_at_price | money }}</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-dUrnRO AXFeE pf-1f17">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-xyEjG mctJf pf-36ca"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.21","shopDomain":"orlybeauty.myshopify.com","elementData":{"7a00":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"f5a6":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"All Tangled Up - Fall/Holiday 2020 Breathable Nail Color - Cruelty-Free / Vegan / One-Step","pageType":"page","pageId":"d9cb434a-7194-4cea-8a1b-cee21acbb673","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Average+Sans:wght@400&display=swap","trackingIDs":[{"elementId":"eeb194b0-7a00-47fb-9f17-d89136caae3e","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"94b07a00-b7fb-4f17-9891-36caae3e6233","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"1f17d891-36ca-4e3e-a233-663a6b1e303b","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.21/core/helper.js" defer></script>