<link rel="stylesheet" href="{{ 'pagefly.fa77ea22.css' | asset_url }}">
		 <style>.wait-list { 	background-color:#77e3d1 !important; }</style> <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_173211418723 == null %}{%- assign collection_173211418723 = collections["day-trippin-nail-lacquers"] -%}{% endif %} {% if collection_173211451491 == null %}{%- assign collection_173211451491 = collections["day-trippin-gels"] -%}{% endif %} {% if collection_173211484259 == null %}{%- assign collection_173211484259 = collections["day-trippin-kits"] -%}{% endif %} {% if collection_173211549795 == null %}{%- assign collection_173211549795 = collections["day-trippin-pp"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["173211418723"] = {{collection_173211418723 | json }};window.__pageflyCollections["173211451491"] = {{collection_173211451491 | json }};window.__pageflyCollections["173211484259"] = {{collection_173211484259 | json }};window.__pageflyCollections["173211549795"] = {{collection_173211549795 | json }};
	</script><div style="opacity:0" class="sc-dwqbIM lgnhdE __pf" id="__pf"><div data-pf-type="Body" class="sc-eggNIi JiLrb pf-0881"><div data-pf-type="Layout" class="sc-jcVebW hrCIoP pf-94cc"><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-6b85"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-a258 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-75a2"><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-814d"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</div><div class="sc-jgHCyG eZqcrI pf-ea75 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-95ec"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f0551bb3--PageflyImage.jpg?v=1611780575" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f0551bb3--PageflyImage.jpg?v=1611780575 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f0551bb3--PageflyImage_500x.jpg?v=1611780575 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-a495"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-0eea"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-9bf0551b--DayTrippinPageflyLogo.jpg?v=1611780557" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-9bf0551b--DayTrippinPageflyLogo.jpg?v=1611780557 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-9bf0551b--DayTrippinPageflyLogo_500x.jpg?v=1611780557 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-ec9d"/><p class="sc-lcujXC epPudT pf-7f0e" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-2f32">Embrace the sunny, chill vibe days with this collection to celebrate that road trippin' lifestyle while transporting us back to the future.<br><br>Groovy 70's inspired saffron, terracotta, and turquoise crémes take us on a day trip filled with Polaroid adventures. Push that to-do list to the side for the weekend and indulge in a dreamy vintage fantasy - just don’t forget those oversized sunnies and platform shoes!<br><br></span></p></div></div></div></div></div></div><div class="sc-jgHCyG eZqcrI pf-78db pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-fd78"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-f23f"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-a17f">NAIL LACQUERS</span></h3></div></div></div><div class="sc-jgHCyG eZqcrI pf-2a6b pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-a72a"><div class="sc-gsBrbv bjQOGp pf-b5a7 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:2;--ew-md:3" data-pf-type="ProductList">{% assign collection_173211418723 = collections["day-trippin-nail-lacquers"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_173211418723.products by 6 %}<!-- -->{% for product in collection_173211418723.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-1706">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-6fda pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-5a38"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-499f">{% assign images = product.images %}<div style="--g-xs:10px;--g-lg:8px;--l-xs:5;--l-lg:4;--w-xs:;--w-md:0;--w-lg:" class="sc-iIEYCM emsiib pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x452", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG   pf-md-hide "><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 3 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-6f4d {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-fde2">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-01ad"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-df2d">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sign up for Waitlist" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-Fyfyc kpvTMt pf-8bb6 add-to-cart"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-7060"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-f3c9 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-88f3"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-3185"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-a8a0">GELS</span></h3></div></div></div><div class="sc-jgHCyG eZqcrI pf-8970 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-b689"><div class="sc-gsBrbv bjQOGp pf-90b6 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:2;--ew-md:3" data-pf-type="ProductList">{% assign collection_173211451491 = collections["day-trippin-gels"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_173211451491.products by 6 %}<!-- -->{% for product in collection_173211451491.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-e899">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-ff3d pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-e27a"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-ddd9">{% assign images = product.images %}<div style="--g-sm:10px;--l-sm:5;--w-xs:0;--w-sm:;--w-md:0" class="sc-iIEYCM iYnuOK pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x270", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG pf-hide  pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-0ad6 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-a252">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-ada2"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-12eb">{{ product.variants[0].price | money }}</div></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-ec0b"><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-Fyfyc kpvTMt pf-c9ec"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-e3e4"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-75e3 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-c375"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-b5db"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-2e0d">KITS</span></h3></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-918b"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-2d91 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-1b2d"><div class="sc-gsBrbv bjQOGp pf-6c1b pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:2" data-pf-type="ProductList">{% assign collection_173211484259 = collections["day-trippin-kits"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_173211484259.products by 2 %}<!-- -->{% for product in collection_173211484259.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-c46c">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-e5b0 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-4f44"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-e8b3">{% assign images = product.images %}<div style="--g-sm:10px;--l-sm:5;--w-xs:0;--w-sm:;--w-md:0" class="sc-iIEYCM iYnuOK pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x416.25", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG pf-hide  pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-9502 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-81ac">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-a290"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-80e7">{{ product.variants[0].price | money }}</div></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-9240"><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-Fyfyc kpvTMt pf-db92"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-d894"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-9a9a pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-3b62"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-d7c7"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-34dd">PERFECT PAIRS - LACQUER + GELFX</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-489a"><div class="sc-gsBrbv bjQOGp pf-6448 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:2;--ew-md:3" data-pf-type="ProductList">{% assign collection_173211549795 = collections["day-trippin-pp"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_173211549795.products by 6 %}<!-- -->{% for product in collection_173211549795.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-8964">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-158e pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-b128"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-902e">{% assign images = product.images %}<div style="--g-sm:10px;--l-sm:5;--w-xs:0;--w-sm:;--w-md:0" class="sc-iIEYCM iYnuOK pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x270", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG pf-hide  pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-c6d0 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-d727">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-90ba"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-291b">{{ product.variants[0].price | money }}</div></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-6a95"><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-Fyfyc kpvTMt pf-0e6a"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div><div class="sc-jgHCyG eZqcrI pf-0cd8 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-3f0c"><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-9a3f"></div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.17","shopDomain":"orlybeauty.myshopify.com","elementData":{"499f":{"listPosition":2,"limit":{"all":4,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":8,"laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"4d0a":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"ddd9":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"d695":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"e8b3":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"02c6":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"902e":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"d001":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Day Trippin' - Spring 2021 Nail Color - Cruelty-Free / Vegan","pageType":"page","pageId":"fa77ea22-1408-414d-a495-ec9d2f327f0e","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Average+Sans:wght@400&family=Lato:wght@400;700&display=swap","trackingIDs":[{"elementId":"3ffd78db-499f-4de2-b411-df2d12358bb6","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"78db499f-fde2-4411-9f2d-12358bb65a38","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"df2d1235-8bb6-4a38-afda-1706b5a72a6b","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"8588f3c9-ddd9-4252-992f-12ebe27acb40","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"f3c9ddd9-a252-492f-92eb-e27acb40c9ec","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"e27acb40-c9ec-4bff-bde8-9990b6897060","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"c375e3e4-e8b3-41ac-9e37-80e74f44494a","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"e3e4e8b3-81ac-4e37-80e7-4f44494adb92","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"4f44494a-db92-40e5-b0c4-6c1b2d918b34","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"d7c73b62-902e-4727-a0de-291bb128b1fa","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"3b62902e-d727-40de-a91b-b128b1fa0e6a","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"b128b1fa-0e6a-4515-8e89-64489a9a3f0c","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.17/core/helper.js" defer></script><script>

$( document ).ready(function() {
   setTimeout(function() {
  $( ".add-to-cart" ).each(function( index ) {
  console.log( index + ": " + $( this ).text() );
	$( this ).prop('disabled', false);
	$( this ).removeAttr("disabled");
	if ($( this ).text()!='Add To Cart'){
	  $( this ).addClass('wait-list');
	 // $(this).addClass('BIS_trigger');
	 // $(this).attr('data-product-data', '222');
	}
});
  }, 2000);	  
});
$('.add-to-cart').click(function() {
	   var handle = $(this).closest('div').find('h3').attr('data-href');
  if ($( this ).text()!='Add To Cart'){
	  jQuery.getJSON(handle+".js", function(product) {
     // alert('The title of this product is ' + product.variants[0].id);
		var variant_id = product.variants[0].id;
		//BISPopover.show({variantId: product.variants[0].id})
		var email = prompt("Notify me when "+ product.title+" is back in stock!", "Your email address");
		BIS.create(email, variant_id, product.id);
		$( this ).text("You will be notified!");
		
      });
  }
});


</script>