<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Montserrat:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.16.2/css/main-style.css?t=20210126090116"><link rel="stylesheet" href="{{ 'pagefly.7d45fc44.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script>{% if collection_165708595299 == null %}{%- assign collection_165708595299 = collections['kit-extras'] -%}{% endif %} {% if collection_172232441955 == null %}{%- assign collection_172232441955 = collections['kit-top-effects'] -%}{% endif %} {% if collection_165708365923 == null %}{%- assign collection_165708365923 = collections['kit-basecoats'] -%}{% endif %} {% if collection_165708562531 == null %}{%- assign collection_165708562531 = collections['kit-topcoats'] -%}{% endif %} {% if collection_173103153251 == null %}{%- assign collection_173103153251 = collections['2021-kit-one'] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["165708595299"] = {{collection_165708595299 | json }};window.__pageflyCollections["172232441955"] = {{collection_172232441955 | json }};window.__pageflyCollections["165708365923"] = {{collection_165708365923 | json }};window.__pageflyCollections["165708562531"] = {{collection_165708562531 | json }};window.__pageflyCollections["173103153251"] = {{collection_173103153251 | json }};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-916463bf"><div data-pf-type="Layout" class="pf-c8916463"><div data-container="false" class="sc-pZopv bjKdkd pf-32971558 title" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-6ec2fc0e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-50e36ec2" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f85aa994--BYOMPageflylogo.png?v=1611005303 1200w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f85aa994--BYOMPageflylogo_800x328.png?v=1611005303&resized 800w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f85aa994--BYOMPageflylogo_400x164.png?v=1611005303&resized 400w" class="sc-qZtVr dLIPjF pf-1e858205 pf-sm--hidden pf-xs--hidden" data-pf-type="Image2"></div></div></div><div class="sc-qPjXN eYzxUD pf-0a334ba6 pf-r pf-r-eh pf-md--hidden" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-30520a33" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f85aa994--BYOMPageflylogo.png?v=1611005303 1200w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f85aa994--BYOMPageflylogo_800x328.png?v=1611005303&resized 800w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f85aa994--BYOMPageflylogo_400x164.png?v=1611005303&resized 400w" class="sc-qZtVr dLIPjF pf-be063052 pf-lg--hidden" data-pf-type="Image2"></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-927b3e9d basecoats-section" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-10cc2897 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-c98ab570" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-b2adc98a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-00e6b2ad">Step 1. Pick A Basecoat<br></span></h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-497ca47f" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-989e491c pf-r-dg pf-r-dg-lg--2 pf-r-dg-md--2 pf-r-dg-sm--2 pf-r-dg-xs--1" data-pf-type="ProductList" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:0px;">{% assign collection_165708365923 = collections['kit-basecoats'] %}{% assign defaultProduct = product %}{% paginate collection_165708365923.products by 2 %}{% for product in collection_165708365923.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-3d65989e"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-e7e7dcb9" %}<div class="sc-qPjXN eYzxUD pf-2e6a3d65 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-08f92e6a" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-55ebcd4b">
{% if product.images.size > 2 %} 
	{% assign my_product_image =  product.images[2] %}
	{% assign my_second_image =  product.images[1] %}

{% else %}
	{% assign my_product_image =  product.images[1] %}
	{% assign my_second_image =  product.images[0] %}

{% endif %}
<div data-product-id="{{ product.id }}" data-product-category="basecoats" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-f2ba9f90 product_image">
<div class="sc-pIvzE glhnPb">
<div data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG">
<img src="{{  my_product_image | img_url: 'large' }}" alt="{{product.title}}" draggable="false">
</div>
</div>
</div>

<span data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-92d0b88d product_title">{{ product.title | downcase }}</span>
  <br>
  <span class="product_short_desc">{{ product.metafields["global"]["short_description"] }}</span>
  
{% if product.available %}
{% for variant in product.variants %}
  <a href="#" style="display:none" class="bundle" data-variant-id="{{ variant.id }}" data-variant-price="{{variant.price}}">Add</a>
{% endfor %}
{% else %}
  <a href="#" style="display:none" class="bundle" data-variant-id="sold-out">Sold Out</a>
<a href="#" class="soldout">Sold Out</a>
{% endif %}
</div></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-4cef65eb colors-section" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-5c452e0a pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-b5961ae6 colors-header" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-e9cdb596"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0a45e9cd">Step 2. Pick Any 3 Shades<br></span></h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8cbe55d6" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-2c6f749f pf-r-dg pf-r-dg-lg--3 pf-r-dg-md--3 pf-r-dg-sm--3 pf-r-dg-xs--3" data-pf-type="ProductList" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:0px;">{% assign collection_173103153251 = collections['2021-kit-one'] %}{% assign defaultProduct = product %}{% paginate collection_173103153251.products by 25 %}{% for product in collection_173103153251.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-25e92c6f"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-a825e92c" %}<div class="sc-qPjXN eYzxUD pf-40a825e9 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2c1840a8" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-81fc2c18">
{% if product.images.size > 2 %} 
	{% assign my_product_image =  product.images[1] %}
	{% assign my_second_image =  product.images[0] %}

{% else %}
	{% assign my_product_image =  product.images[1] %}
	{% assign my_second_image =  product.images[0] %}

{% endif %}
<div data-product-id="{{ product.id }}" data-product-category="colors" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-f2ba9f90 product_image clip-circle">
<div class="sc-pIvzE glhnPb">
<div data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG puddle">
<img src="{{  my_product_image | img_url: 'large' }}" alt="{{product.title}}" draggable="false"></div>
</div>
</div>
<span data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-92d0b88d product_title_puddle">{{ product.title | downcase}}</span>
<br>
  <span class="product_short_desc">{{ product.metafields["global"]["short_description"] }}</span>
  
{% if product.available %}
{% for variant in product.variants %}
  <a href="#" style="display:none" class="bundle" data-variant-id="{{ variant.id }}" data-variant-price="{{variant.price}}">Add</a>
{% endfor %}
{% else %}
  <a href="#" style="display:none" class="bundle" data-variant-id="sold-out">Sold Out</a>
<a href="#" class="soldout">Sold Out</a>
{% endif %}
</div></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-d76c6bf3 topcoats-section" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-71c6e250 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-890ba233 topcoats-header" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-9fc2890b"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-719a9fc2">Step 3. Pick A Topcoat<br></span></h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-d8c4f4e0" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-e531f783 pf-r-dg pf-r-dg-lg--2 pf-r-dg-md--3 pf-r-dg-sm--2 pf-r-dg-xs--1" data-pf-type="ProductList" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:0px;">{% assign collection_165708562531 = collections['kit-topcoats'] %}{% assign defaultProduct = product %}{% paginate collection_165708562531.products by 2 %}{% for product in collection_165708562531.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-8145e531"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-f1cb8ad8" %}<div class="sc-qPjXN eYzxUD pf-6dab8145 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-acf86dab" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-059e074b">
{% if product.images.size > 2 %} 
	{% assign my_product_image =  product.images[2] %}
	{% assign my_second_image =  product.images[1] %}

{% else %}
	{% assign my_product_image =  product.images[1] %}
	{% assign my_second_image =  product.images[0] %}

{% endif %}
<div data-product-id="{{ product.id }}" data-product-category="topcoats" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-f2ba9f90 product_image">
<div spacing="[object Object]" class="sc-pIvzE glhnPb">
<div data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG">
<img src="{{  my_product_image | img_url: 'large' }}" alt="{{product.title}}" draggable="false" class="">
</div>
</div>
</div>

<span data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-92d0b88d product_title">{{ product.title | downcase }}</span>
  <br>
  <span class="product_short_desc">{{ product.metafields["global"]["short_description"] }}</span>
  
{% if product.available %}
{% for variant in product.variants %}
  <a href="#" style="display:none" class="bundle" data-variant-id="{{ variant.id }}" data-variant-price="{{variant.price}}">Add</a>
{% endfor %}
{% else %}
  <a href="#" style="display:none" class="bundle" data-variant-id="sold-out">Sold Out</a>
<a href="#" class="soldout">Sold Out</a>
{% endif %}
</div></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-f905170a extras-section" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-738c6c8e pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-3d754a97 extras-header" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-3f173d75"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-84873f17">You Unlocked These Extras for 50% off MSRP!<br></span></h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-09e35e38" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-cce209e3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-12dfcce2">Take your mani game to the pro level with these essentials and get artistic with these ORLY pro nail art tools</span></p><div class="sc-qPjXN eYzxUD pf-b4e43c51 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-1218b4e4" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-82af153f pf-r-dg pf-r-dg-lg--3 pf-r-dg-md--2 pf-r-dg-sm--2 pf-r-dg-xs--2" data-pf-type="ProductList" style="--pf-s-lg:30px; --pf-s-md:30px; --pf-s-sm:30px; --pf-s-xs:30px;">{% assign collection_165708595299 = collections['kit-extras'] %}{% assign defaultProduct = product %}{% paginate collection_165708595299.products by 9 %}{% for product in collection_165708595299.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-93ea82af"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-2d85b312" %}<div class="sc-qPjXN eYzxUD pf-3c6793ea pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:10px; --pf-s-md:10px; --pf-s-sm:10px; --pf-s-xs:10px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-1f0f5105" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-a73304e5">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE hHQGS"><div data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img src="{{ product.featured_image | img_url: 'x54.9844', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-1f05046c {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--9"><div class="sc-pkUyL fTyjzF pf-51053c67" data-pf-type="Column"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-980b1c0f">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-1c0f4f43">{{ product.variants[0].price | money }}</div><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-2c6a0596"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fa702c6a">Save 50% when added to kit!</span></p><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pcjuG uJAsR pf-04e51f0f" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-683169dd extras-section" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1005px;"><div class="sc-qPjXN eYzxUD pf-767e77bb pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2a44767e" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-6d1c5a44"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-094c6d1c">Bonus: Top off Your Lacquer with These Effects - 25% off<br></span></h3></div></div></div><div class="sc-qPjXN eYzxUD pf-d152946b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6866f29d" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-e2746866 pf-r-dg pf-r-dg-lg--4 pf-r-dg-md--4 pf-r-dg-sm--2 pf-r-dg-xs--2" data-pf-type="ProductList" style="--pf-s-lg:30px; --pf-s-md:30px; --pf-s-sm:30px; --pf-s-xs:30px;">{% assign collection_172232441955 = collections['kit-top-effects'] %}{% assign defaultProduct = product %}{% paginate collection_172232441955.products by 6 %}{% for product in collection_172232441955.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-017be274"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-7e71006c" %}<div class="sc-qPjXN eYzxUD pf-51c3017b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-83ac51c3" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-07b30fe8">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE hHQGS"><div data-href="/products/{{ product.handle }}" data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img src="{{ product.featured_image | img_url: 'x179', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-8d28b631 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-2afb8055">{{ product.title }}</h3><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-f29d2915">{{ product.variants[0].compare_at_price | money }}</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-80556727">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pcjuG uJAsR pf-0fe883ac" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-4851fb0d add-to-cart-section" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-05399b64 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-cd1d0539" data-pf-type="Column"><a href="#" target="_self" id="ready_to_add" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-e775cd1d addmulti"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-14bde775">Add to Cart - <s>$52.50</s> Save 20%</span></a></div></div></div><div class="sc-qPjXN eYzxUD pf-94892f2f pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-1b1e9489" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-fb4f1b1e"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.0.1/rivets-cart.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-B9BoFFAuBaCfqw6lxWBZrhg/z4NkwqdBci+E+Sc2XlK/Rz25RYn8Fetb+Aw5irxa" crossorigin="anonymous">
</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.16.2","shopDomain":"orlybeauty.myshopify.com","elementData":{"pf-a73304e5":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","_type":"ProductImage2"},"pf-046c980b":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"pf-07b30fe8":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage2"},"pf-b6312afb":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Make Your Own At Home Mani Kit","pageType":"page","pageId":"7d45fc44-010f-4989-87b2-77c33f0c1c14","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-01-26T17:53:46.333Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.16.2/core/helper.js?t=20210126090116" defer></script><script>  var products =[];
  var max_products = 5;
  var bundle_cost_in_dollars = "42";
  var total_msrp =0;
  var category_max = [];
  var after = [];
  category_max['basecoats']= 1;
  category_max['colors'] = 3;
  category_max['topcoats']=1;
  category_max['extras']=10;
  after['basecoats'] = 'colors';
  after['colors'] = 'topcoats';
  after['topcoats'] = 'extras';

 


  let selected_category = [];

  var button ="";
  var string ="";
  function parseCart(products){
  var json = [];
  var toSplit = products;
  for (var i = 0; i < toSplit.length; i++) {
  if (toSplit[i] != null && toSplit[i] != '') {
    json.push({"id":toSplit[i]});
  }
}
  return json;
}

$( document ).ready(function() {
 $('.extras-section').hide();
 $('.add-to-cart-section').hide();
 $('.addmulti').hide();
  button ="<a href=\"#\" target=\"_self\" id=\"ready_to_add\" class=\"addmulti\" style=\"display:inline-block;\">Add to Cart - $<s><span class='msrp'>"+total_msrp+'</span></s> '+'<span>$'+bundle_cost_in_dollars+"</span></a>";
	  string = "<div id=\"keep-in-place\" class=\"sticky-message\" style=\"text-align:center;\"><span id=\"feedback-message\" class=\"feedback\"></span>"+button+ "</div>"
	$(document.body).append(string);
	 //$(".complete_kit").append(string);
	  $('.addmulti').hide();
  
  $('.product_image').click(function(){
	// alert($(this).attr('data-product-id'));
  });


    //get height + marfin + padding of footer
h = $("footer").outerHeight(true)

$(window).scroll(function() {
	
  //get scrollButtom
  var scrollButtom = $( document ).height()-($(window).scrollTop() + $(window).height());
	
  if (scrollButtom >= h) {
    $(".sticky-message").css('bottom','0');
  }


});
function showExtras(){
  $(".title").hide();
  $(".basecoats-section").hide();
  $(".colors-section").hide();
  $(".topcoats-section").hide();
  $(".extras-section").show();
}
function resetPage(){
  $('.status').hide();
  $('img').removeClass('img-selected');
  products = [];
  	$('html, body').animate(
   				 {
    			  scrollTop: 0,
  				  },
  			  500,
  		  'linear'
  				);
  
}

  jQuery(function() {
        CartJS.init({{ cart | json }}, {
            "dataAPI": false,
            "requestBodyClass": "loading"
        });
    });



   $('.addmulti').click(function() {
	var prefix = "{ \"items\": [";
	var suffix = "] }";
	 var cartography =  parseCart(products);
	// var carts = jQuery.parseJSON(cartography);
	 var orig = $(".addmulti").text();
	$(".addmulti").text("Adding...");
	 CartJS.addItems(cartography,{
	 // Define a success callback to display a success message.
            "success": function(data, textStatus, jqXHR) {			 
			  $('#feedback-message').show();
                $('#feedback-message').html('Added to Cart! Now add extras for 50% off.');
			    $('#ready_to_add').hide();
			  	$(".addmulti").text(orig);
			    $(".addmulti").hide();
                 $(".add-to-cart-section").hide();
				resetPage();
				showExtras();

		setTimeout(function(){
		   $.getJSON('/cart.js', function(cart){ 
			var result = cart.item_count;
			 $("#CartCount span").text(result);

		});
	},300);
            },

            // Define an error callback to display an error message.
            "error": function(jqXHR, textStatus, errorThrown) {
			  $('#feedback-message').show();
                $('#feedback-message').html('There was a problem adding to the cart!');
            }
	   		 
	 })
	 
    });
  
  $( ".product_image" ).click(function() {

	  	 $('.sticky-message').show();
	    $(".sticky-message").css('bottom','0');
        var category_type = $(this).attr('data-product-category');
	if (selected_category[category_type]){
	} else
	  {
		selected_category[category_type]=0;
	  }
	    var selected = 	$(this).find('img').hasClass('img-selected');
		console.log(selected);
		
        if (selected == false) {
		   if (products.length < max_products && selected_category[category_type] < category_max[category_type] ){
                // do something

			 var variant_id = ($(this).closest('.sc-pkUyL').find('.bundle').attr('data-variant-id'));
			 if (variant_id == 'sold-out'){
			   
			 } else {
			$(this).find('img').toggleClass( 'img-selected');
			var variant_price = ($(this).closest('.sc-pkUyL').find('.bundle').attr('data-variant-price')) *1; 	
  			 total_msrp = total_msrp +variant_price;

		    products.push($(this).closest('.sc-pkUyL').find('.bundle').attr('data-variant-id'));
			selected_category[category_type]=selected_category[category_type]+1;

			$(this).find('img').parent().append("<span class='status'><i class=\"fas fa-check-circle\"></i></span>");
			event.preventDefault();
			   		console.log("selected:"+$('.'+after[category_type]+"-header").outerHeight());
		            console.log(selected_category[category_type]+":"+ category_max[category_type])
			if (selected_category[category_type] == category_max[category_type]){
				$('html, body').animate(
   				 {
    			  scrollTop: $('.'+after[category_type]+"-section").offset().top - $('.'+after[category_type]+"-header").outerHeight() *2,
  				  },
  			  500,
  		  'linear'
  				);
		};
        
		   // $(this).addClass('active');
			   var msrp_dollar = (total_msrp / 100).toFixed(2);
			 var products_left = max_products - products.length;
		$('#feedback-message').html('Select '+ products_left+' more products to complete your bundle (Total MSRP $'+msrp_dollar+')');
			    }
        }} else {
		    $(this).find('img').parent().find('.status').detach();
                // do something
		  	var variant_price = ($(this).closest('.sc-pkUyL').find('.bundle').attr('data-variant-price')) *1; 	
		    var removeItem = $(this).closest('.sc-pkUyL').find('.bundle').attr('data-variant-id');
		  	products.splice( $.inArray(removeItem, products), 1 );
		  	selected_category[category_type]=selected_category[category_type]-1;

		    total_msrp = total_msrp - variant_price;
			$(this).find('img').toggleClass( 'img-selected');

            //$(this).text("Add");
		   // $(this).removeClass('active');
		    $('#feedback-message').show();
			   var msrp_dollar = (total_msrp / 100).toFixed(2);

		   var products_left = max_products - products.length;
			$('#feedback-message').html('Select '+ products_left+' more products to complete your bundle (Total MSRP $'+msrp_dollar+')');
  
        };
	

  if (products.length == max_products){
	 var msrp_dollar = (total_msrp / 100).toFixed(2);
	 $(".msrp").text(msrp_dollar);
		 $('.add-to-cart-section').show();
         $('.addmulti').show();
		$('#ready_to_add').show();
       $('#feedback-message').hide();
      
	 } else {
	   $('#ready_to_add').hide();

	 }
  });

	$(".product_images").hover( //disable
   function() {
   $(this).find('img').parent().append('<span class="status"><i class="fas fa-plus-circle"></i></span>');
  }, function() {
    $(this).find('img').parent().find('.status').detach();
	 	

  }

  );

});
</script>