<link rel="stylesheet" href="{{ 'pagefly.3196907b.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_260825907299 == null %}{%- assign collection_260825907299 = collections["april-best-sellers-2021-breathable"] -%}{% endif %} {% if collection_260825940067 == null %}{%- assign collection_260825940067 = collections["april-best-sellers-2021-lacquer"] -%}{% endif %} {% if collection_260826005603 == null %}{%- assign collection_260826005603 = collections["april-best-sellers-2021-treatments"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["260825907299"] = {{collection_260825907299 | json }};window.__pageflyCollections["260825940067"] = {{collection_260825940067 | json }};window.__pageflyCollections["260826005603"] = {{collection_260826005603 | json }};
	</script><div style="opacity:0" class="sc-dcgxYM htkieq __pf" id="__pf"><div data-pf-type="Body" class="sc-cTApHj fVRyQa pf-1_"><div data-pf-type="Layout" class="sc-caiKgP ipNIuR pf-2_"><div data-pf-type="Section" class="sc-hUpaWb blbXGf pf-3_"><div style="--cw:1170px" class="sc-khQdMy cdJLiE"><div class="sc-bBHHQT iVWrCP pf-4_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-5_"><div class="sc-bBHHQT iVWrCP pf-6_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-7_"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-fbd467c9--AprilBestSellersPageFly.jpg?v=1618330943" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-fbd467c9--AprilBestSellersPageFly.jpg?v=1618330943 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-fbd467c9--AprilBestSellersPageFly_500x.jpg?v=1618330943 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-kLwgWK cVVPgF pf-8_"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-9_"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-40fbd467--AprilBestSellersPageFlyLogo.jpg?v=1618330921" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-40fbd467--AprilBestSellersPageFlyLogo.jpg?v=1618330921 1536w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-40fbd467--AprilBestSellersPageFlyLogo_500x.jpg?v=1618330921 320w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-kLwgWK cVVPgF pf-10_"/><p class="sc-jeqYYF hzMUYW pf-11_" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-13_"><b>ON SALE NOW!<br></b><br>Take 25% off April's Best Sellers – just use code BEST25 at checkout!&nbsp;<br><br>Hurry! This sale only lasts through Monday April 19th at 11:59 PM PST.<br></span></p></div></div></div></div></div></div><div class="sc-bBHHQT iVWrCP pf-14_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-15_"><h3 data-pf-type="Heading" class="sc-iJKOzS YwOzI pf-16_"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-18_">BREATHABLE</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-19_"><div class="sc-kiIAaw hQwVTn pf-20_ pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:3;--ew-md:4" data-pf-type="ProductList">{% assign collection_260825907299 = collections["april-best-sellers-2021-breathable"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_260825907299.products by 29 %}<!-- -->{% for product in collection_260825907299.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jlRMkV ksCOFC pf-21_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHQT iVWrCP pf-22_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-23_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-fmcixO cOuJRo pf-24_">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-eldixR dIsLUY pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-jtXFOG bFAUbd"><img src="{{ product.featured_image | img_url: "x196.875", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eXlDFz fmdpDr  pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-iqVVwt dWaGix   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-eWfWgB jwdikc pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-kTLnJg jVwDIe pf-25_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-fXeWgy hmFFGo pf-27_">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-28_"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div></div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-cbTAsW kbOIjO pf-29_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-lkgURy irubqu pf-30_"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div><div data-pf-type="Divider" class="sc-kfPtPH hFYxlu pf-33_"></div></div></div></div><div class="sc-bBHHQT iVWrCP pf-36_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-37_"><h3 data-pf-type="Heading" class="sc-iJKOzS YwOzI pf-38_"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-40_">LACQUER</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-41_"><div class="sc-kiIAaw hQwVTn pf-42_ pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:3;--ew-md:4" data-pf-type="ProductList">{% assign collection_260825940067 = collections["april-best-sellers-2021-lacquer"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_260825940067.products by 29 %}<!-- -->{% for product in collection_260825940067.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jlRMkV ksCOFC pf-43_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHQT iVWrCP pf-44_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-45_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-fmcixO cOuJRo pf-46_">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-eldixR dIsLUY pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-jtXFOG bFAUbd"><img src="{{ product.featured_image | img_url: "x196.875", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eXlDFz fmdpDr  pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-iqVVwt dWaGix   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-eWfWgB jwdikc pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-kTLnJg jVwDIe pf-47_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-fXeWgy hmFFGo pf-49_">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-50_"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div></div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-cbTAsW kbOIjO pf-51_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-lkgURy irubqu pf-52_"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div><div data-pf-type="Divider" class="sc-kfPtPH hFYxlu pf-55_"></div></div></div></div><div class="sc-bBHHQT iVWrCP pf-58_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-59_"><h3 data-pf-type="Heading" class="sc-iJKOzS YwOzI pf-60_"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-62_">TREATMENTS</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-63_"><div class="sc-kiIAaw hQwVTn pf-64_ pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:3;--ew-md:4" data-pf-type="ProductList">{% assign collection_260826005603 = collections["april-best-sellers-2021-treatments"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_260826005603.products by 29 %}<!-- -->{% for product in collection_260826005603.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jlRMkV ksCOFC pf-65_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHQT iVWrCP pf-66_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-67_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-fmcixO cOuJRo pf-68_">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-eldixR dIsLUY pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-jtXFOG bFAUbd"><img src="{{ product.featured_image | img_url: "x196.875", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eXlDFz fmdpDr  pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-iqVVwt dWaGix   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-eWfWgB jwdikc pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-kTLnJg jVwDIe pf-69_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-fXeWgy hmFFGo pf-71_">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-72_"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div></div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-cbTAsW kbOIjO pf-73_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-lkgURy irubqu pf-74_"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div><div data-pf-type="Divider" class="sc-kfPtPH hFYxlu pf-77_"></div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.1.3","shopDomain":"orlybeauty.myshopify.com","elementData":{"pf-24_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","id":"a55ddafb-d329-44f5-95cd-a6ee7a2e443d","_type":"ProductImage"},"pf-26_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"530e9a08-595b-46fa-82db-263ca3424b4c","_type":"ProductBadge"},"pf-46_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","id":"3ca3424b-4c10-4ab4-b484-d8ac03fde91d","_type":"ProductImage"},"pf-48_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"424b4c10-5ab4-4484-98ac-03fde91d0ec6","_type":"ProductBadge"},"pf-68_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","id":"48a90f02-de94-469e-9871-b9a640fbd467","_type":"ProductImage"},"pf-70_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"0f02de94-669e-4871-b9a6-40fbd467c913","_type":"ProductBadge"}},"pageTitle":"Best Sellers","pageType":"page","pageId":"3196907b-61bf-4b78-a5c5-7c7618cddeee","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Average+Sans:wght@400&family=Lato:wght@400&display=swap","trackingIDs":[{"elementIndex":24,"elementId":"a55ddafb-d329-44f5-95cd-a6ee7a2e443d","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":27,"elementId":"dafbd329-a4f5-45cd-a6ee-7a2e443daccc","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":30,"elementId":"55cda6ee-7a2e-443d-accc-4606c6275f65","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":46,"elementId":"3ca3424b-4c10-4ab4-b484-d8ac03fde91d","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":49,"elementId":"4b4c105a-b4f4-44d8-ac03-fde91d0ec621","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":52,"elementId":"5ab4f484-d8ac-43fd-a91d-0ec62123aed1","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":68,"elementId":"48a90f02-de94-469e-9871-b9a640fbd467","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":71,"elementId":"02de9466-9e18-41b9-a640-fbd467c91315","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":74,"elementId":"669e1871-b9a6-40fb-9467-c913159cb7a7","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.1.3/core/helper.js" defer></script>