<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Amatic+SC:400|Average+Sans:400|Montserrat:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.13.11/css/main-style.css?t=20200917160944"><link rel="stylesheet" href="{{ 'pagefly.d9fce64d.scss.css' | asset_url }}">
		  {% if product_4699859058787 == null %}{%- assign product_4699859058787 = all_products['mini-gel-lamp'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4699859058787"] = {
					id: {{product_4699859058787.id | json }},
					handle: {{product_4699859058787.handle | json }},
					title: {{product_4699859058787.title | json }},
					type: {{product_4699859058787.type | json }},
					url: {{product_4699859058787.url | json }},
					vendor: {{product_4699859058787.vendor | json }},
					variants: {{product_4699859058787.variants | json }},
					options: {{product_4699859058787.options | json }},
					media: {{product_4699859058787.media | json }},
					has_only_default_variant: {{product_4699859058787.has_only_default_variant | json }},
					options_with_values: {{product_4699859058787.options_with_values | json }},
					selected_variant: {{product_4699859058787.selected_variant | json }},
					selected_or_first_available_variant: {{product_4699859058787.selected_or_first_available_variant | json }},
					tags: {{product_4699859058787.tags | json }},
					template_suffix: {{product_4699859058787.template_suffix | json }},
					featured_image: {{product_4699859058787.featured_image | json }},
					featured_media: {{product_4699859058787.featured_media | json }},
					images: {{product_4699859058787.images | json }}
				};window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script>{% if collection_171143135331 == null %}{%- assign collection_171143135331 = collections['gel-bundles'] -%}{% endif %} {% if collection_171143954531 == null %}{%- assign collection_171143954531 = collections['mini-gel-lamp'] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["171143135331"] = {{collection_171143135331 | json }};window.__pageflyCollections["171143954531"] = {{collection_171143954531 | json }};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-1b6aed52"><div data-pf-type="Layout" class="pf-261b6aed"><div data-container="true" class="sc-pZopv bjKdkd pf-9dc4f85d" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-86ff53da pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-cc67a39d" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-5d151ce9--PageflyImage.jpg?v=1599588554 1200w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-5d151ce9--PageflyImage.jpg?v=1599588554 800w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-5d151ce9--PageflyImage_400x400.jpg?v=1599588554&resized 400w" class="sc-qZtVr dLIPjF pf-f85d151c" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-a39d86ff" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-e909956a--PageflyLogo.jpg?v=1599588572 1200w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-e909956a--PageflyLogo.jpg?v=1599588572 800w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-e909956a--PageflyLogo_400x200.jpg?v=1599588572&resized 400w" class="sc-qZtVr dLIPjF pf-1ce90995" data-pf-type="Image2"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-65c82e20"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e00965c8">Gel Nails at home have never been easier!<br><br>Use with all GELFX products including Builder In A Bottle!<br><br>Professional quality curing in a convenient, portable mini lamp.<br><br>UV/LED operation for maximum capacity.<br><br><b>For a limited time, buy the Mini Lamp and get GELFX Kick Glass FREE!<br></b></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-eed9f1d7" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-be9015fb pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-581a9464" data-pf-type="Column"><div data-product-id="4699859058787" data-default-variant="33036628492387" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-866051df">{% assign defaultProduct = product %}{% assign product = product_4699859058787 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-12866051" %}<div class="sc-qPjXN eYzxUD pf-19128660 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-c5f044f5" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-a555f4a8">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE kIPkjM"><div data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img src="{{ product.featured_image | img_url: 'x529.25', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-499dcae3 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-dcdf1912" data-pf-type="Column"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-94575b7e">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-5b7edcbb">{{ product.variants[0].price | money }}</div><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-e8d2ed29">{{ product.content }}</div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-c23acced--MiniLampBanner.jpg?v=1599592078 1200w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-c23acced--MiniLampBanner_800x152.jpg?v=1599592078&resized 800w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-c23acced--MiniLampBanner_400x76.jpg?v=1599592078&resized 400w" class="sc-qZtVr dLIPjF pf-78c23acc" data-pf-type="Image2"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-8b576391"><div class="code" style="display:none;">
  
{% assign products_bundle_string =  product.metafields["global"]["bundle_ids"]%}
{% if products_bundle_string%}
   {%assign special_price = product.metafields["global"]["bundle_price"]|times: 100%}
  {% assign products_in_bundle =  products_bundle_string | remove: " " | split: "," %}


  {% assign all_available = "true"%}
  {% assign total_price = 0%}
     {% assign product_ids =""%}

  {% for product_handle in products_in_bundle %}
    {%assign bundle_product = all_products[product_handle]%}
    {%if bundle_product.compare_at_price%}

      {%assign total_price = total_price | plus: bundle_product.price %}
    {%else%}
        {%assign total_price = total_price | plus: bundle_product.price %}

    {%endif%}
	{% if bundle_product.available %}
  
       {% if product_ids !="" %}
  		 {% assign product_ids = product_ids | append: "," | append: bundle_product.variants[0].id%}
  	   {%else%}
    	 {% assign product_ids = bundle_product.variants[0].id%}
	   {%endif%}
  
	{%else%}
	{% assign all_available = "false" %}
	{% endif %}

  {% endfor %}
 

{%else%}
   {% assign product_ids = product.variants[0].id%}
  {%if product.compare_at_price%}
      {%assign special_price = product.price %}
      {{product.price | money}}
  {%else%}
      {%assign special_price = product.price %}
      {{product.price | money}}

  {%endif%}

 {%endif%}
  <br><br>
 <div>
  {% if all_available == "true" %}
 	 <a href="#" class="bundle" data-variant-id="{{ product_ids}}">Add To Cart - {{special_price |money }}</a>
	{%else%}
 <a href="#" class="soldout">Sold Out</a>
	{%endif%}
     </div>
</div>

</div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-c5620025"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.0.1/rivets-cart.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-B9BoFFAuBaCfqw6lxWBZrhg/z4NkwqdBci+E+Sc2XlK/Rz25RYn8Fetb+Aw5irxa" crossorigin="anonymous">
</div><div class="sc-qPjXN eYzxUD pf-25be9015 pf-r pf-r-align--cm pf-r-ew" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-7cee3a58" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-cb7d7cee"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0025be90">GELFX BUNDLES</span></h3></div></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-fbb2df86 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-afb57ec6" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-d9c1afb5 pf-r-dg pf-r-dg-lg--3 pf-r-dg-md--3 pf-r-dg-sm--3 pf-r-dg-xs--1" data-pf-type="ProductList" style="--pf-s-lg:25px; --pf-s-md:25px; --pf-s-sm:25px; --pf-s-xs:25px;">{% assign collection_171143135331 = collections['gel-bundles'] %}{% assign defaultProduct = product %}{% paginate collection_171143135331.products by 18 %}{% for product in collection_171143135331.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-97f1d9c1"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-f1d9c1af" %}<div class="sc-qPjXN eYzxUD pf-ecba97f1 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-0211cf07" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-645fc202">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="200px" spacing="10px" data-pf-type="MasterImage" data-magnifier="true" mode="view" class="sc-pQERe NaLAE" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="200px" spacing="10px" class="sc-pHHLp hsseOw">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-c2020211">{{ product.title }}</h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-1c6ecf31" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-e1351c6e">{{ product.metafields["global"]["short_description"] }}<br>
</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-15fbb2df" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-9015fbb2"><div class="code" style="display:none;">
  
{% assign products_bundle_string =  product.metafields["global"]["bundle_ids"]%}
{% if products_bundle_string%}
   {%assign special_price = product.metafields["global"]["bundle_price"]|times: 100%}
  {% assign products_in_bundle =  products_bundle_string | remove: " " | split: "," %}


  {% assign all_available = "true"%}
  {% assign total_price = 0%}
     {% assign product_ids =""%}

  {% for product_handle in products_in_bundle %}
    {%assign bundle_product = all_products[product_handle]%}
    {%if bundle_product.compare_at_price%}

      {%assign total_price = total_price | plus: bundle_product.price %}
    {%else%}
        {%assign total_price = total_price | plus: bundle_product.price %}

    {%endif%}
	{% if bundle_product.available %}
  
       {% if product_ids !="" %}
  		 {% assign product_ids = product_ids | append: "," | append: bundle_product.variants[0].id%}
  	   {%else%}
    	 {% assign product_ids = bundle_product.variants[0].id%}
	   {%endif%}
  
	{%else%}
	{% assign all_available = "false" %}
	{% endif %}

  {% endfor %}
  <del>{{total_price |  money}}</del>

{%else%}
   {% assign product_ids = product.variants[0].id%}
  {%if product.compare_at_price%}
      {%assign special_price = product.price %}
      {{product.price | money}}
  {%else%}
      {%assign special_price = product.price %}
      {{product.price | money}}

  {%endif%}

 {%endif%}
  <br><br>
 <div>
  {% if all_available == "true" %}
 	 <a href="#" class="bundle" data-variant-id="{{ product_ids}}">Add To Cart - {{special_price |money }}</a>
	{%else%}
 <a href="#" class="soldout">Sold Out</a>
	{%endif%}
     </div>
</div>

</div></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-9f6a4878" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-fff39f6a pf-r-dg pf-r-dg-lg--1 pf-r-dg-md--3 pf-r-dg-sm--3 pf-r-dg-xs--1" data-pf-type="ProductList" style="--pf-s-lg:25px; --pf-s-md:25px; --pf-s-sm:25px; --pf-s-xs:25px;">{% assign collection_171143954531 = collections['mini-gel-lamp'] %}{% assign defaultProduct = product %}{% paginate collection_171143954531.products by 18 %}{% for product in collection_171143954531.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-7e20fff3"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-f07e20ff" %}<div class="sc-qPjXN eYzxUD pf-d8f07e20 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-639165d4" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-65d4d8f0" data-pf-type="Column"></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.13.11","shopDomain":"orlybeauty.myshopify.com","elementData":{"pf-a555f4a8":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","_type":"ProductImage2"},"pf-cae39457":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"pf-645fc202":{"listPosition":"bottom","limit":5,"height":"200px","spacing":"10px","listLayout":"slider","_type":"ProductImage"}},"pageTitle":"ORLY Mini Gel Lamp","pageType":"page","pageId":"d9fce64d-0584-4d7f-bb39-35a7da3dfa6f","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.13.11/core/helper.js?t=20200917160944" defer></script><script>
function parseCart(products){
var json = [];
var toSplit = products.split(',');
var count = {};


  for (var i = 0; i < toSplit.length; i++) {
  if (toSplit[i] != null && toSplit[i] != '') {
	   var p = toSplit[i];
       count[p] = count[p]+1 || 1; // Increment counter for each value
  }
}
 
  var uniqueProducts = toSplit.filter(function(item, i, toSplit) {
        return i == toSplit.indexOf(item);
    });
  
for (var i = 0; i < uniqueProducts.length; i++) {
  if (uniqueProducts[i] != null && uniqueProducts[i] != '') {
   var p = uniqueProducts[i];
  json.push({"id":p, "quantity":count[p]});
  }
}
  console.log("Number to add:"+products)
  return json;
} 

$( document ).ready(function() {
 $(".code").show();
  jQuery(function() {
        CartJS.init({{ cart | json }}, {
            "dataAPI": false,
            "requestBodyClass": "loading"
        });
    });

$('.bundle').click(function() {
	
	 var items =  $(this).attr('data-variant-id');
  	 var cartography =  parseCart(items);
	 var orig = $(this).text();
	
    $(this).text("Added");
 	 setTimeout(function() {
   	$(this).text(orig);
	}, 500);

	 CartJS.addItems(cartography,{

	 // Define a success callback to display a success message.
            "success": function(data, textStatus, jqXHR) {			 
			  	

		
		setTimeout(function(){
		   $.getJSON('/cart.js', function(cart){ 
			var result = cart.item_count;
			 $("#CartCount span").text(result);

		});
	},300);
            },

            // Define an error callback to display an error message.
            "error": function(jqXHR, textStatus, errorThrown) {
                $(this).text('Couldnt Add Item');
            }
	   		 
	 })
    });
});</script>