<link rel="stylesheet" href="{{ 'pagefly.52b044bd.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_260654923875 == null %}{%- assign collection_260654923875 = collections["super-bloom"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["260654923875"] = {{collection_260654923875 | json }};
	</script><div style="opacity:0" class="sc-dwqbIM lgnhdE __pf" id="__pf"><div data-pf-type="Body" class="sc-eggNIi JiLrb pf-322b"><div data-pf-type="Layout" class="sc-jcVebW hrCIoP pf-2285"><div data-pf-type="ProductPreview" class="sc-cbDGPM eTEuVf pf-2b3f"> </div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-ec22"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-50fc pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-b450"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-e4b4">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-d64a pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-f271"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-bff2">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:13.043478260869565%" class="sc-iIEYCM fWnsPL pf-r-dg"><div data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x401.953", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG    "><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-3f02 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-ebd6"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-7125">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-25fe"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-fe23">{{ product.variants[0].price | money }}</div><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductDescription" class="sc-fWPcDo cgpajZ pf-23b4">{{ product.content }}</div><div data-product-id="{{ product.id }}" size="32" data-pf-type="ProductQuantity" class="sc-kmASHI jddqVV pf-4605"><button data-quantity-action="decrease" disabled="" type="button" data-pf-type="QuantityButton" class="pf-b4f2" store="[object Object]">-</button><input type="number" value="1" min="1" max="{{ product.selected_or_first_available_variant.inventory_quantity }}" data-hidespinner="true" name="quantity" data-pf-type="QuantityField" class="pf-f254" store="[object Object]"/><button data-quantity-action="increase" type="button" data-pf-type="QuantityButton" class="pf-5446" store="[object Object]">+</button></div><div data-pf-type="Block" class="sc-iBaPrD gdARiY pf-48eb"><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-Fyfyc kpvTMt pf-1148"><span>Add To Cart</span></button></div></div></div></div><div class="sc-jgHCyG eZqcrI pf-0ae4 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-660a"><div data-pf-type="Youtube" class="sc-dacFzL fIUiIW pf-4a66"><div style="position:relative;padding-bottom:56.25%"><iframe class="pf-ifr" src="https://www.youtube.com/embed/0UwYuwbsqxQ?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameBorder="0" allowfullscreen="" width="100%" height="100%" allow="autoplay" title="yt-video"></iframe></div></div></div></div></div>{% endform %}{% endif %}</div></div></div></div><div class="sc-jgHCyG eZqcrI pf-523c pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-e252"><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-fce2"><div data-oke-reviews-widget
   data-oke-reviews-product-id="shopify-{{ product.id }}">
   {{ product.metafields.okendo.ProductReviewsWidgetSnippet }}
</div>
</div></div></div></div><div class="sc-jgHCyG eZqcrI pf-58ec pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-9658"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-5696"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-c756">RELATED PRODUCTS</span></h3><div class="sc-gsBrbv bjQOGp pf-1c96 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:2;--ew-md:3" data-pf-type="ProductList">{% assign collection_260654923875 = collections["super-bloom"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_260654923875.products by 6 %}<!-- -->{% for product in collection_260654923875.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-be1c">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-c1be pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-b5c1"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-a682">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-iIEYCM iYnuOK pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x360", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-9642 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-822e">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-2ea8"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-a886">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-Fyfyc kpvTMt pf-f2b5"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.17","shopDomain":"orlybeauty.myshopify.com","elementData":{"bff2":{"listPosition":1,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":0,"imageSource":"featured","_type":"ProductImage"},"02bf":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"a682":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"42a6":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"You Had Me At Hydrangea Product Detail","pageType":"product","pageId":"52b044bd-5432-4b3f-82bf-f27125fe23b4","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"fontLink":"https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap","trackingIDs":[{"elementId":"544605fa-1148-4bd6-8a66-0ae4b450fce2","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"c7569642-a682-4ea8-866f-f2b5c1be1c96","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"569642a6-822e-4886-aff2-b5c1be1c9658","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"2ea8866f-f2b5-41be-9c96-58ec228542ec","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.17/core/helper.js" defer></script>