<link rel="stylesheet" href="{{ 'pagefly.879ac6b6.css' | asset_url }}">
		  {% if product_4712414052451 == null %}{%- assign product_4712414052451 = all_products["the-snuggle-is-real-1"] -%}{% endif %} {% if product_6559280857187 == null %}{%- assign product_6559280857187 = all_products["plastic-jungle"] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}window.__pageflyProducts["4712414052451"] = {
		id: {{ product_4712414052451.id | json }},
		handle: {{ product_4712414052451.handle | json }},
		title: {{ product_4712414052451.title | json }},
		type: {{ product_4712414052451.type | json }},
		url: {{ product_4712414052451.url | json }},
		vendor: {{ product_4712414052451.vendor | json }},
		variants: {{ product_4712414052451.variants | json }},
		options: {{ product_4712414052451.options | json }},
		media: {{ product_4712414052451.media | json }},
		has_only_default_variant: {{ product_4712414052451.has_only_default_variant | json }},
		options_with_values: {{ product_4712414052451.options_with_values | json }},
		selected_variant: {{ product_4712414052451.selected_variant | json }},
		selected_or_first_available_variant: {{ product_4712414052451.selected_or_first_available_variant | json }},
		tags: {{ product_4712414052451.tags | json }},
		template_suffix: {{ product_4712414052451.template_suffix | json }},
		featured_image: {{ product_4712414052451.featured_image | json }},
		featured_media: {{ product_4712414052451.featured_media | json }},
		images: {{ product_4712414052451.images | json }}
	};window.__pageflyProducts["6559280857187"] = {
		id: {{ product_6559280857187.id | json }},
		handle: {{ product_6559280857187.handle | json }},
		title: {{ product_6559280857187.title | json }},
		type: {{ product_6559280857187.type | json }},
		url: {{ product_6559280857187.url | json }},
		vendor: {{ product_6559280857187.vendor | json }},
		variants: {{ product_6559280857187.variants | json }},
		options: {{ product_6559280857187.options | json }},
		media: {{ product_6559280857187.media | json }},
		has_only_default_variant: {{ product_6559280857187.has_only_default_variant | json }},
		options_with_values: {{ product_6559280857187.options_with_values | json }},
		selected_variant: {{ product_6559280857187.selected_variant | json }},
		selected_or_first_available_variant: {{ product_6559280857187.selected_or_first_available_variant | json }},
		tags: {{ product_6559280857187.tags | json }},
		template_suffix: {{ product_6559280857187.template_suffix | json }},
		featured_image: {{ product_6559280857187.featured_image | json }},
		featured_media: {{ product_6559280857187.featured_media | json }},
		images: {{ product_6559280857187.images | json }}
	};
	</script>{% if collection_260654923875 == null %}{%- assign collection_260654923875 = collections["super-bloom"] -%}{% endif %} {% if collection_260958355555 == null %}{%- assign collection_260958355555 = collections["electric-escape-nail-lacquers"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["260654923875"] = {{collection_260654923875 | json }};window.__pageflyCollections["260958355555"] = {{collection_260958355555 | json }};
	</script><div style="opacity:0" class="sc-ehIIUG hKxtAB __pf" id="__pf"><div data-pf-type="Body" class="sc-cTApHj fVRyQa pf-1_"><div data-pf-type="Layout" class="sc-caiKgP ipNIuR pf-2_"><div data-pf-type="ProductPreview" class="sc-fmBDoT eNSIIY pf-3_"> </div><div data-pf-type="Section" class="sc-hUpaWb blbXGf pf-4_"><div style="--cw:1170px" class="sc-khQdMy cdJLiE"><div class="sc-bBHHQT iVWrCP pf-5_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-6_"><div data-product-id="6559280857187" data-default-variant="39341376012387" data-pf-type="ProductBox" class="sc-jlRMkV ksCOFC pf-7_">{% assign defaultProduct = product %}{% assign product = product_6559280857187 %}<!-- -->{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHQT iVWrCP pf-8_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-9_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-fmcixO cOuJRo pf-10_">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:13.043478260869565%" class="sc-eldixR nnFAp pf-r-dg"><div data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-jtXFOG bFAUbd"><img src="{{ product.featured_image | img_url: "x401.914", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eXlDFz fmdpDr  pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-iqVVwt dWaGix    "><div data-pf-type="ProductImageList" class="sc-eWfWgB jwdikc pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-kTLnJg jVwDIe pf-11_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-13_"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductTitle" class="sc-fXeWgy hmFFGo pf-14_">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-15_"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-cbTAsW kbOIjO pf-16_">{{ product.variants[0].price | money }}</div><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductDescription" class="sc-cbTAsW kbOIjO pf-17_">{{ product.content }}</div><div data-product-id="{{ product.id }}" data-pf-type="ProductQuantity" class="sc-iIUSfW cKlweH pf-18_"><button data-quantity-action="decrease" type="button" data-pf-type="QuantityButton" class="pf-19_" store="[object Object]"><i class="pfa pfa-minus"></i></button><input type="number" value="1" min="1" max="{%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}{{ product.selected_or_first_available_variant.inventory_quantity }}{%- else -%}50{%- endif -%}" data-hidespinner="true" name="quantity" data-pf-type="QuantityField" class="sc-gslxyl yrhAb pf-20_"/><button data-quantity-action="increase" type="button" data-pf-type="QuantityButton" class="pf-21_" store="[object Object]"><i class="pfa pfa-plus"></i></button></div><div data-pf-type="Block" class="sc-efQUeY eWLxTJ pf-22_"><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-lkgURy irubqu pf-23_"><span>Add To Cart</span></button></div></div></div></div><div class="sc-bBHHQT iVWrCP pf-26_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-27_"><div data-pf-type="Youtube" class="sc-eLwHGX grCaBj pf-28_"><div style="position:relative;padding-bottom:56.25%"><iframe class="pf-ifr" src="https://www.youtube.com/embed/_RCWUlQbFBs?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameBorder="0" allowfullscreen="" width="100%" height="100%" allow="autoplay" title="yt-video"></iframe></div></div></div></div></div>{% endform %}{% endif %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div><div class="sc-bBHHQT iVWrCP pf-29_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-30_"><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-31_"><div data-oke-reviews-widget
   data-oke-reviews-product-id="shopify-{{ product.id }}">
   {{ product.metafields.okendo.ProductReviewsWidgetSnippet }}
</div>
</div></div></div></div><div class="sc-bBHHQT iVWrCP pf-32_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-33_"><h3 data-pf-type="Heading" class="sc-iJKOzS YwOzI pf-34_"><span data-pf-type="Text" class="sc-ZOsLE HTdit pf-36_">RELATED PRODUCTS</span></h3><div class="sc-kiIAaw hQwVTn pf-37_ pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:2;--ew-md:3" data-pf-type="ProductList">{% assign collection_260958355555 = collections["electric-escape-nail-lacquers"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_260958355555.products by 6 %}<!-- -->{% for product in collection_260958355555.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jlRMkV ksCOFC pf-38_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHQT iVWrCP pf-39_ pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-40_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-fmcixO cOuJRo pf-41_">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-eldixR dIsLUY pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-jtXFOG bFAUbd"><img src="{{ product.featured_image | img_url: "x360", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eXlDFz fmdpDr  pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-iqVVwt dWaGix   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-eWfWgB jwdikc pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-kTLnJg jVwDIe pf-42_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-fXeWgy hmFFGo pf-44_">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-45_"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-cbTAsW kbOIjO pf-46_">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-lkgURy irubqu pf-47_"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.1.10","shopDomain":"orlybeauty.myshopify.com","elementData":{"pf-10_":{"listPosition":1,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":0,"imageSource":"featured","id":"0e40581f-d94a-49ed-a76f-532a53c18f9a","_type":"ProductImage"},"pf-12_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"510e4058-1fd9-4ab9-ad27-6f532a53c18f","_type":"ProductBadge"},"pf-41_":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","id":"b0000d91-47a7-4bc5-96b4-e89aa996f9c3","_type":"ProductImage"},"pf-43_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"8db0000d-9147-475b-8556-b4e89aa996f9","_type":"ProductBadge"}},"pageTitle":"Plastic Jungle PDP","pageType":"product","pageId":"879ac6b6-510e-4058-9fd9-4ab9ed276f53","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"fontLink":"https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap","trackingIDs":[{"elementIndex":23,"elementId":"53c18f9a-52bf-44cf-89af-621d55d43ec5","elementType":"ProductATC","elementName":"ProductATC"},{"elementIndex":41,"elementId":"b0000d91-47a7-4bc5-96b4-e89aa996f9c3","elementType":"ProductImage","elementName":"ProductImage"},{"elementIndex":44,"elementId":"000d9147-a75b-4556-b4e8-9aa996f9c3ef","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementIndex":47,"elementId":"5bc556b4-e89a-4996-b9c3-eff1b33e77ec","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.1.10/core/helper.js" defer></script>