<link rel="stylesheet" href="{{ 'pagefly.7dc376ae.css' | asset_url }}">
		 <style>a.bundle { 	background-color: #D67F8C; 	color: white; 	padding: 1em 1.5em; 	text-decoration: none; 	text-transform: uppercase; } a.addmulti { 	background-color: #fb90af; 	color: white; 	padding: 1em 1.5em; 	text-decoration: none; 	text-transform: uppercase; } a.active { 	background-color: #555; } a.bundle:hover { 	background-color: #555; } a.bundle:active { 	background-color: black; } .selected { 	border: solid 10px #000; }</style> {% if product_4699859058787 == null %}{%- assign product_4699859058787 = all_products["mini-gel-lamp"] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["4699859058787"] = {
		id: {{ product_4699859058787.id | json }},
		handle: {{ product_4699859058787.handle | json }},
		title: {{ product_4699859058787.title | json }},
		type: {{ product_4699859058787.type | json }},
		url: {{ product_4699859058787.url | json }},
		vendor: {{ product_4699859058787.vendor | json }},
		variants: {{ product_4699859058787.variants | json }},
		options: {{ product_4699859058787.options | json }},
		media: {{ product_4699859058787.media | json }},
		has_only_default_variant: {{ product_4699859058787.has_only_default_variant | json }},
		options_with_values: {{ product_4699859058787.options_with_values | json }},
		selected_variant: {{ product_4699859058787.selected_variant | json }},
		selected_or_first_available_variant: {{ product_4699859058787.selected_or_first_available_variant | json }},
		tags: {{ product_4699859058787.tags | json }},
		template_suffix: {{ product_4699859058787.template_suffix | json }},
		featured_image: {{ product_4699859058787.featured_image | json }},
		featured_media: {{ product_4699859058787.featured_media | json }},
		images: {{ product_4699859058787.images | json }}
	};{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_171143135331 == null %}{%- assign collection_171143135331 = collections["gel-bundles"] -%}{% endif %} {% if collection_171273388131 == null %}{%- assign collection_171273388131 = collections["gel-bundle-essentials"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["171143135331"] = {{collection_171143135331 | json }};window.__pageflyCollections["171273388131"] = {{collection_171273388131 | json }};
	</script><div style="opacity:0" class="sc-dwqbIM lgnhdE __pf" id="__pf"><div data-pf-type="Body" class="sc-eggNIi JiLrb pf-c65c"><div data-pf-type="Layout" class="sc-jcVebW hrCIoP pf-7875"><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-d6cf"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-d0d6 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-a08b"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-55e97781--MiniLampKSPsTitle.jpg?v=1601594375" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-55e97781--MiniLampKSPsTitle.jpg?v=1601594375 1536w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-c3a0"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-0fd0"><img src="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-e909956a--PageflyLogo.jpg?v=1599588572" srcSet="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-e909956a--PageflyLogo.jpg?v=1599588572 1536w" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-8b04"/><p class="sc-lcujXC epPudT pf-0f0f" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-fd72">Gel Nails at home have never been easier!<br><br>Use with all GELFX products including Builder In A Bottle!<br><br>Professional quality curing in a convenient, portable mini lamp.<br><br>UV/LED operation for maximum capacity.<br><br></span></p></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-fb78"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-f40f pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-e8f4"><div data-product-id="4699859058787" data-default-variant="33036628492387" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-a779">{% assign defaultProduct = product %}{% assign product = product_4699859058787 %}<!-- -->{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-e3a7 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-dc5d"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-bfdc">{% assign images = product.images %}<div style="--g-lg:10px;--l-lg:5;--w-xs:0;--w-lg:" class="sc-iIEYCM lpvDVv pf-r-dg"><div data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x252.75", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG pf-hide pf-sm-hide pf-md-hide "><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-cf30 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-eb6e"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-58b6">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-e434"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-b660">{{ product.variants[0].price | money }}</div><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductDescription" class="sc-fWPcDo cgpajZ pf-6066">{{ product.content }}</div><p class="sc-lcujXC epPudT pf-5705" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-864f"><a name="tutorials"></a></span></p><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-04eb"><div class="code" style="display:none;">
  
{% assign products_bundle_string =  product.metafields["global"]["bundle_ids"]%}
{% if products_bundle_string%}
   {%assign special_price = product.metafields["global"]["bundle_price"]|times: 100%}
  {% assign products_in_bundle =  products_bundle_string | remove: " " | split: "," %}


  {% assign all_available = "true"%}
  {% assign total_price = 0%}
     {% assign product_ids =""%}

  {% for product_handle in products_in_bundle %}
    {%assign bundle_product = all_products[product_handle]%}
    {%if bundle_product.compare_at_price%}

      {%assign total_price = total_price | plus: bundle_product.price %}
    {%else%}
        {%assign total_price = total_price | plus: bundle_product.price %}

    {%endif%}
	{% if bundle_product.available %}
  
       {% if product_ids !="" %}
  		 {% assign product_ids = product_ids | append: "," | append: bundle_product.variants[0].id%}
  	   {%else%}
    	 {% assign product_ids = bundle_product.variants[0].id%}
	   {%endif%}
  
	{%else%}
	{% assign all_available = "false" %}
	{% endif %}

  {% endfor %}
 

{%else%}
   {% assign product_ids = product.variants[0].id%}
  {%if product.compare_at_price%}
      {%assign special_price = product.price %}
      {{product.price | money}}
  {%else%}
      {%assign special_price = product.price %}
      {{product.price | money}}

  {%endif%}

 {%endif%}
  <br><br>
 <div>
  {% if all_available == "true" %}
 	 <a href="#" class="bundle" data-variant-id="{{ product_ids}}">Add To Cart - {{special_price |money }}</a>
	{%else%}
 <a href="#" class="soldout">Sold Out</a>
	{%endif%}
     </div>
</div>

</div></div></div></div><div class="sc-jgHCyG eZqcrI pf-7248 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-1d29"></div></div></div>{% endform %}{% endif %}<!-- -->{% assign product = defaultProduct %}</div><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-79e8"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.0.1/rivets-cart.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-B9BoFFAuBaCfqw6lxWBZrhg/z4NkwqdBci+E+Sc2XlK/Rz25RYn8Fetb+Aw5irxa" crossorigin="anonymous">
</div><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-6ce4"><div data-oke-reviews-widget
   data-oke-reviews-product-id="shopify-{{ product.id }}">
   {{ product.metafields.okendo.ProductReviewsWidgetSnippet }}
</div>
</div><div class="sc-jgHCyG eZqcrI pf-8457 pf-r pf-c-cm" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-ae84"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-8985"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-084a">TUTORIALS</span></h3><p class="sc-lcujXC epPudT pf-5de9" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-3e4d">Use our easy to follow videos to learn how to do gel manicures in a snap.</span></p></div></div></div><div class="sc-jgHCyG eZqcrI pf-d1d8 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-8b17"><div data-pf-type="Youtube" class="sc-dacFzL fIUiIW pf-51ac"><div style="position:relative;padding-bottom:56.25%"><iframe class="pf-ifr" src="https://www.youtube.com/embed/tNFQ4ML5oKM?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameBorder="0" allowfullscreen="" width="100%" height="100%" allow="autoplay" title="yt-video"></iframe></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-5ef9"><div data-pf-type="Youtube" class="sc-dacFzL fIUiIW pf-3fe5"><div style="position:relative;padding-bottom:56.25%"><iframe class="pf-ifr" src="https://www.youtube.com/embed/ax-gd7qDPoI?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" frameBorder="0" allowfullscreen="" width="100%" height="100%" allow="autoplay" title="yt-video"></iframe></div></div></div></div></div><div class="sc-jgHCyG eZqcrI pf-6602 pf-r pf-c-cm" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-765c"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-76cd"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-9b10">GELFX BUNDLES</span></h3><p class="sc-lcujXC epPudT pf-942a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-1f8d">Limit of 6 Free Hand Sanitizers Per Order</span></p></div></div></div></div></div></div><div class="sc-jgHCyG eZqcrI pf-3e15 pf-r pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-54c2"><div class="sc-gsBrbv bjQOGp pf-3495 pf-r pf-r-ew" style="--s-lg:12.5px;--ew-xs:1;--ew-sm:3" data-pf-type="ProductList">{% assign collection_171143135331 = collections["gel-bundles"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_171143135331.products by 18 %}<!-- -->{% for product in collection_171143135331.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-e7ea">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-dd1e pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-4a54"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-c233">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-iIEYCM iYnuOK pf-r-dg"><div data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x322.141", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-4005 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-82ce">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-3477"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-f752"><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-54f7">{{ product.metafields["global"]["short_description"] }}<br>
</div></div></div><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-77e7"><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-5277"><div class="code" style="display:none;">
  
{% assign products_bundle_string =  product.metafields["global"]["bundle_ids"]%}
{% if products_bundle_string%}
   {%assign special_price = product.metafields["global"]["bundle_price"]|times: 100%}
  {% assign products_in_bundle =  products_bundle_string | remove: " " | split: "," %}


  {% assign all_available = "true"%}
  {% assign total_price = 0%}
     {% assign product_ids =""%}

  {% for product_handle in products_in_bundle %}
    {%assign bundle_product = all_products[product_handle]%}
    {%if bundle_product.compare_at_price%}

      {%assign total_price = total_price | plus: bundle_product.price %}
    {%else%}
        {%assign total_price = total_price | plus: bundle_product.price %}

    {%endif%}
	{% if bundle_product.available %}
  
       {% if product_ids !="" %}
  		 {% assign product_ids = product_ids | append: "," | append: bundle_product.variants[0].id%}
  	   {%else%}
    	 {% assign product_ids = bundle_product.variants[0].id%}
	   {%endif%}
  
	{%else%}
	{% assign all_available = "false" %}
	{% endif %}

  {% endfor %}
  <del>{{total_price |  money}}</del>

{%else%}
   {% assign product_ids = product.variants[0].id%}
  {%if product.compare_at_price%}
      {%assign special_price = product.price %}
      {{product.price | money}}
  {%else%}
      {%assign special_price = product.price %}
      {{product.price | money}}

  {%endif%}

 {%endif%}
  <br><br>
 <div>
  {% if all_available == "true" %}
 	 <a href="#" class="bundle" data-variant-id="{{ product_ids}}">Add To Cart - {{special_price |money }}</a>
	{%else%}
 <a href="#" class="soldout">Sold Out</a>
	{%endif%}
     </div>
</div>

</div></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-144b"><span data-pf-type="Text" class="sc-kIeTtH cnxSGb pf-7334">ESSENTIALS</span></h3><div class="sc-gsBrbv bjQOGp pf-04a2 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:1;--ew-sm:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_171273388131 = collections["gel-bundle-essentials"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_171273388131.products by 10 %}<!-- -->{% for product in collection_171273388131.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jXktwP hdiogm pf-2d21">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-0ee8 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-c6df"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-irlOZD jUdyne pf-1ad8">{% assign images = product.images %}<div style="--w-xs:0" class="sc-iIEYCM fDlVTa pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-cKZHah bxyrwM"><img src="{{ product.featured_image | img_url: "x270", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eWvPJL hgQjmC pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-dwcuIR jktQCG pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-jtHMlw jaQVoM pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-eltcbb iORAaW pf-b081 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-kUbhmq jEqguw"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductTitle" class="sc-gkdzZj cmAEMu pf-acef">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-iJuUWI fTbwUB pf-77b9"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-fWPcDo cgpajZ pf-dcd3">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-Fyfyc kpvTMt pf-415d"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.16","shopDomain":"orlybeauty.myshopify.com","elementData":{"bfdc":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","_type":"ProductImage"},"30bf":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"c233":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":0,"imageSource":"featured","_type":"ProductImage"},"056c":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"1ad8":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"eac2":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"ORLY Mini Gel Lamp PDP","pageType":"product","pageId":"7dc376ae-98c6-4cc3-a08b-04fd720f0fd0","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montserrat:wght@400&display=swap","trackingIDs":[{"elementId":"f40fc233-82ce-4a54-b752-77e7dd1ee7ea","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"44046e1c-1ad8-415d-86df-0ee82d2104a2","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"b081eac2-acef-4cd3-8404-6e1c1ad8415d","elementType":"ProductTitle","elementName":"ProductTitle"},{"elementId":"6e1c1ad8-415d-46df-8ee8-2d2104a286ec","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.16/core/helper.js" defer></script><script>
function parseCart(products){
var json = [];
var toSplit = products.split(',');
var count = {};


  for (var i = 0; i < toSplit.length; i++) {
  if (toSplit[i] != null && toSplit[i] != '') {
	   var p = toSplit[i];
       count[p] = count[p]+1 || 1; // Increment counter for each value
  }
}
 
  var uniqueProducts = toSplit.filter(function(item, i, toSplit) {
        return i == toSplit.indexOf(item);
    });
  
for (var i = 0; i < uniqueProducts.length; i++) {
  if (uniqueProducts[i] != null && uniqueProducts[i] != '') {
   var p = uniqueProducts[i];
  json.push({"id":p, "quantity":count[p]});
  }
}
  console.log("Number to add:"+products)
  return json;
} 

$( document ).ready(function() {
 $(".code").show();
  jQuery(function() {
        CartJS.init({{ cart | json }}, {
            "dataAPI": false,
            "requestBodyClass": "loading"
        });
    });

$('.bundle').click(function() {
	
	 var items =  $(this).attr('data-variant-id');
  	 var cartography =  parseCart(items);
	 var orig = $(this).text();
	
    $(this).text("Added");
 	 setTimeout(function() {
   	$(this).text(orig);
	}, 500);

	 CartJS.addItems(cartography,{

	 // Define a success callback to display a success message.
            "success": function(data, textStatus, jqXHR) {			 
			  	

		
		setTimeout(function(){
		   $.getJSON('/cart.js', function(cart){ 
			var result = cart.item_count;
			 $("#CartCount span").text(result);

		});
	},300);
            },

            // Define an error callback to display an error message.
            "error": function(jqXHR, textStatus, errorThrown) {
                $(this).text('Couldnt Add Item');
            }
	   		 
	 })
    });
});</script>