
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Amatic+SC:400|Average+Sans:400|Montserrat:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.13.9/css/main-style.css?t=20200913220911"><link rel="stylesheet" href="{{ 'pagefly.d372d150.scss.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script>{% if collection_171173904483 == null %}{%- assign collection_171173904483 = collections['glow-add-ons'] -%}{% endif %} {% if collection_150020948067 == null %}{%- assign collection_150020948067 = collections['glow-up-promo'] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["171173904483"] = {{collection_171173904483 | json }};
window.__pageflyCollections["150020948067"] = {{collection_150020948067 | json }};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-e9089705"><div data-pf-type="Layout" class="pf-5ee90897"><div data-container="true" class="sc-pZopv bjKdkd pf-289f83ff" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-72289f83 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-6ccc856a" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f08533b8--PageflyImage.gif?v=1599775230 1200w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f08533b8--PageflyImage.gif?v=1599775230 800w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-f08533b8--PageflyImage_400x400.gif?v=1599775230&resized 400w" class="sc-qZtVr dLIPjF pf-0c6ccc85" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-9672289f" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" srcset="https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-40f08533--PageflyLogo.jpg?v=1599775196 1200w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-40f08533--PageflyLogo.jpg?v=1599775196 800w, https://cdn.shopify.com/s/files/1/0015/0185/5843/t/13/assets/pf-40f08533--PageflyLogo_400x200.jpg?v=1599775196&resized 400w" class="sc-qZtVr dLIPjF pf-cc856a96" data-pf-type="Image2"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-821ff87e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6a967228"><span style="font-weight: bold;"><br>Glow Up</span> is back plus <span style="font-weight: bold;">TWO</span> new limited edition <span style="font-weight: bold;">glow in the dark top effects! </span><br><br>For a limited time, enjoy <span style="font-weight: bold;">2 free mystery mini lacquers</span>&nbsp;with every Glow shade purchased while supplies last. Max 6 minis per cart.<br>Promo ends 9/20 at 11:59pm PST.<br><br><span style="font-weight: bold;">Suggested Use:</span> Prep nails and apply a coat of Bonder basecoat, apply two coats of Glow Up, finish with Polishield or your favorite ORLY topcoat. Glow Up can be worn over your favorite ORLY nail color. This top effect has a sheer milky appearance when worn over other colors.<b><br></b></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-17c4603c" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-050b8091 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-fe1d9ae7" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-f7cb7670"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.0.1/rivets-cart.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-B9BoFFAuBaCfqw6lxWBZrhg/z4NkwqdBci+E+Sc2XlK/Rz25RYn8Fetb+Aw5irxa" crossorigin="anonymous">
</div><div class="sc-qPjXN eYzxUD pf-70050b80 pf-r pf-r-align--cm pf-r-ew" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-d8b0dffe" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-795ed8b0"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7670050b">FEATURED PRODUCTS</span></h3></div></div></div></div></div></div><div class="sc-qPjXN eYzxUD pf-885ee908 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6f5e075f" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-f2f36f5e pf-r-dg pf-r-dg-lg--3 pf-r-dg-md--3 pf-r-dg-sm--3 pf-r-dg-xs--1" data-pf-type="ProductList" style="--pf-s-lg:25px; --pf-s-md:25px; --pf-s-sm:25px; --pf-s-xs:25px;">{% assign collection_150020948067 = collections['glow-up-promo'] %}{% assign defaultProduct = product %}{% paginate collection_150020948067.products by 18 %}{% for product in collection_150020948067.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-1a11f2f3"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-11f2f36f" %}<div class="sc-qPjXN eYzxUD pf-cff21a11 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-7c061acf" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-e75112da">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="200px" spacing="10px" data-pf-type="MasterImage" data-magnifier="true" mode="view" class="sc-pQERe NaLAE" style="--pf-d-lg:flex; --pf-d-md:flex; --pf-d-sm:flex; --pf-d-xs:flex;"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="200px" spacing="10px" class="sc-pHHLp hsseOw">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="{{ image.src | img_url: 'master' }}" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-12da7c06">{{ product.title }}</h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8091885e" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-0b809188">{{ product.metafields["global"]["short_description"] }}
<div class="code" style="display:none;">
  
{% assign products_bundle_string =  product.metafields["global"]["bundle_ids"]%}
{% if products_bundle_string%}
   {%assign special_price = product.metafields["global"]["bundle_price"]|times: 100%}
  {% assign products_in_bundle =  products_bundle_string | remove: " " | split: "," %}


  {% assign all_available = "true"%}
  {% assign total_price = 0%}
     {% assign product_ids =""%}

  {% for product_handle in products_in_bundle %}
    {%assign bundle_product = all_products[product_handle]%}
    {%if bundle_product.compare_at_price%}

      {%assign total_price = total_price | plus: bundle_product.price %}
    {%else%}
        {%assign total_price = total_price | plus: bundle_product.price %}

    {%endif%}
	{% if bundle_product.available %}
  
       {% if product_ids !="" %}
  		 {% assign product_ids = product_ids | append: "," | append: bundle_product.variants[0].id%}
  	   {%else%}
    	 {% assign product_ids = bundle_product.variants[0].id%}
	   {%endif%}
  
	{%else%}
	{% assign all_available = "false" %}
	{% endif %}

  {% endfor %}
  <del></del>

{%else%}
   {% assign product_ids = product.variants[0].id%}
  {%if product.compare_at_price%}
      {%assign special_price = product.price %}
      {{product.price | money}}
  {%else%}
      {%assign special_price = product.price %}
      {{product.price | money}}

  {%endif%}

 {%endif%}
  <br><br>
 <div>
  {% if all_available == "true" %}
 	 <a href="#" class="bundle" data-variant-id="{{ product_ids}}">Add To Cart - {{special_price |money }}</a>
	{%else%}
 <a href="#" class="soldout">Sold Out</a>
	{%endif%}
     </div>
</div>

</div></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-3fb2d4fc" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-f1272301" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-64103fb2 pf-r-dg pf-r-dg-lg--2 pf-r-dg-md--2 pf-r-dg-sm--2 pf-r-dg-xs--1" data-pf-type="ProductList" style="--pf-s-lg:30px; --pf-s-md:30px; --pf-s-sm:30px; --pf-s-xs:30px;">{% assign collection_171173904483 = collections['glow-add-ons'] %}{% assign defaultProduct = product %}{% paginate collection_171173904483.products by 4 %}{% for product in collection_171173904483.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-04336410"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-5c24a7f1" %}<div class="sc-qPjXN eYzxUD pf-069f0433 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-9925069f" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-8c823713">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE hHQGS"><div data-href="/products/{{ product.handle }}" data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img src="{{ product.featured_image | img_url: 'x270', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-581f3d88 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-c3e2e432">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-e4322d8c">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pcjuG uJAsR pf-37139925" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-585c1717" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.13.9","shopDomain":"orlybeauty.myshopify.com","elementData":{"pf-e75112da":{"listPosition":"bottom","limit":5,"height":"200px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-8c823713":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage2"},"pf-3d88c3e2":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Glow Up Top Effects","pageType":"page","pageId":"d372d150-645e-4e82-9ff8-7ed240e0c46f","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.13.9/core/helper.js?t=20200913220911" defer></script><script>
function parseCart(products){
var json = [];
var toSplit = products.split(',');
var count = {};


  for (var i = 0; i < toSplit.length; i++) {
  if (toSplit[i] != null && toSplit[i] != '') {
	   var p = toSplit[i];
       count[p] = count[p]+1 || 1; // Increment counter for each value
  }
}
 
  var uniqueProducts = toSplit.filter(function(item, i, toSplit) {
        return i == toSplit.indexOf(item);
    });
  
for (var i = 0; i < uniqueProducts.length; i++) {
  if (uniqueProducts[i] != null && uniqueProducts[i] != '') {
   var p = uniqueProducts[i];
  json.push({"id":p, "quantity":count[p]});
  }
}
  console.log("Number to add:"+products)
  return json;
} 

$( document ).ready(function() {
 $(".code").show();
  jQuery(function() {
        CartJS.init({{ cart | json }}, {
            "dataAPI": false,
            "requestBodyClass": "loading"
        });
    });

$('.bundle').click(function() {
	
	 var items =  $(this).attr('data-variant-id');
  	 var cartography =  parseCart(items);
	 var orig = $(this).text();
	
    $(this).text("Added");
 	 setTimeout(function() {
   	$(this).text(orig);
	}, 500);

	 CartJS.addItems(cartography,{

	 // Define a success callback to display a success message.
            "success": function(data, textStatus, jqXHR) {			 
			  	

		
		setTimeout(function(){
		   $.getJSON('/cart.js', function(cart){ 
			var result = cart.item_count;
			 $("#CartCount span").text(result);

		});
	},300);
            },

            // Define an error callback to display an error message.
            "error": function(jqXHR, textStatus, errorThrown) {
                $(this).text('Couldnt Add Item');
            }
	   		 
	 })
    });
});</script>