<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Amatic+SC:400|Average+Sans:400|Montserrat:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.14/css/main-style.css?t=20201125141127"><link rel="stylesheet" href="{{ 'pagefly.14ab63a3.css' | asset_url }}">
		 <style>a.bundle { 	background-color: #D67F8C; 	color: white; 	padding: 1em 1.5em; 	text-decoration: none; 	text-transform: uppercase; } a.addmulti { 	background-color: #fb90af; 	color: white; 	padding: 1em 1.5em; 	text-decoration: none; 	text-transform: uppercase; } a.active { 	background-color: #555; } a.bundle:hover { 	background-color: #555; } a.bundle:active { 	background-color: black; } .selected { 	border: solid 10px #000; }</style> <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script>{% if collection_171636654179 == null %}{%- assign collection_171636654179 = collections['mini-kits-2020'] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["171636654179"] = {{collection_171636654179 | json }};
	</script><div class="__pf" id="__pf" data-section-id="product-template" data-section-type="product-template"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-58821edf"><div data-pf-type="Layout" class="pf-9758821e"><div data-container="true" class="sc-pZopv bjKdkd pf-f5295ede" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-4620432b pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5861835a" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-c3462043"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-23586183" %}<div class="sc-qPjXN eYzxUD pf-e3b4f415 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-08e3b4f4" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-e708e3b4"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/shopify-cartjs/1.0.1/rivets-cart.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-B9BoFFAuBaCfqw6lxWBZrhg/z4NkwqdBci+E+Sc2XlK/Rz25RYn8Fetb+Aw5irxa" crossorigin="anonymous"></div></div></div></div><div class="sc-qPjXN eYzxUD pf-05e2ce77 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8b2805e2" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-99378b28"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ba4e9937">SEE DISCOUNTED PRICES IN YOUR CART</span></h3></div></div></div><div class="sc-qPjXN eYzxUD pf-80142358 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-2815368a" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-15281536">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE ggRSdi"><div data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img src="{{ product.featured_image | img_url: 'x0', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-b4f41528 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-00c34620" data-pf-type="Column"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-5f26c129">{{ product.title }}</h3><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-c5100a68">{{ product.variants[0].compare_at_price | money }}</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-c931789d">{{ product.variants[0].price | money }}</div><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-60ff60b1">{{ product.content }}</div><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pcjuG uJAsR pf-033ea3f1" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div></div></div></div><div class="sc-qPjXN eYzxUD pf-d9975882 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-abefe0b6" data-pf-type="Column"><div class="sc-qPjXN eYzxUD pf-1da430a6 pf-r pf-r-align--cm pf-r-ew" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-877d3224" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-bbf14055"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-432bdc1d"><a name="tutorials">RELATED PRODUCTS</a><a></a></span></h3></div></div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-99d99758" data-pf-type="Column"><div class="sc-oUAMm bPnfgz pf-2299d997 pf-r-dg pf-r-dg-lg--3 pf-r-dg-md--3 pf-r-dg-sm--2 pf-r-dg-xs--1" data-pf-type="ProductList" style="--pf-s-lg:30px; --pf-s-md:30px; --pf-s-sm:30px; --pf-s-xs:30px;">{% assign collection_171636654179 = collections['mini-kits-2020'] %}{% assign defaultProduct = product %}{% paginate collection_171636654179.products by 33 %}{% for product in collection_171636654179.products %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-5bbc50d0"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-bc50d030" %}<div class="sc-qPjXN eYzxUD pf-a5d25bbc pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8b46a5d2" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-e2886a1c">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE hHQGS"><div data-href="/products/{{ product.handle }}" data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img src="{{ product.featured_image | img_url: 'x270', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-8a3aa2e1 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-6a1c9fe3">{{ product.title }}</h3><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-c7dac510">{{ product.variants[0].compare_at_price | money }}</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-9fe3255f">{{ product.variants[0].price | money }}</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2f2bc7da" data-pf-type="Column"><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pcjuG uJAsR pf-df262f2b" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
									window.__pageflyProducts = window.__pageflyProducts || {};
									window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
								</script></div>{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.14","shopDomain":"orlybeauty.myshopify.com","elementData":{"pf-15281536":{"listPosition":1,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":0,"onHover":0,"clickAction":0,"imageSource":"featured","_type":"ProductImage2"},"pf-f4152815":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"pf-e2886a1c":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage2"},"pf-3aa2e122":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Mini Kits Product Detail","pageType":"product","pageId":"14ab63a3-e934-4462-885f-26c129e7545f","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-11-25T22:30:43.317Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.14/core/helper.js?t=20201125141127" defer></script><script type="application/json" id="ProductJson-product-template">
    {{ product | json }}
  </script><script>
function parseCart(products){
var json = [];
var toSplit = products.split(',');
var count = {};


  for (var i = 0; i < toSplit.length; i++) {
  if (toSplit[i] != null && toSplit[i] != '') {
	   var p = toSplit[i];
       count[p] = count[p]+1 || 1; // Increment counter for each value
  }
}
 
  var uniqueProducts = toSplit.filter(function(item, i, toSplit) {
        return i == toSplit.indexOf(item);
    });
  
for (var i = 0; i < uniqueProducts.length; i++) {
  if (uniqueProducts[i] != null && uniqueProducts[i] != '') {
   var p = uniqueProducts[i];
  json.push({"id":p, "quantity":count[p]});
  }
}
  console.log("Number to add:"+products)
  return json;
} 

$( document ).ready(function() {
 $(".code").show();
  jQuery(function() {
        CartJS.init({{ cart | json }}, {
            "dataAPI": false,
            "requestBodyClass": "loading"
        });
    });

$('.bundle').click(function() {
	
	 var items =  $(this).attr('data-variant-id');
  	 var cartography =  parseCart(items);
	 var orig = $(this).text();
	
    $(this).text("Added");
 	 setTimeout(function() {
   	$(this).text(orig);
	}, 500);

	 CartJS.addItems(cartography,{

	 // Define a success callback to display a success message.
            "success": function(data, textStatus, jqXHR) {			 
			  	

		
		setTimeout(function(){
		   $.getJSON('/cart.js', function(cart){ 
			var result = cart.item_count;
			 $("#CartCount span").text(result);

		});
	},300);
            },

            // Define an error callback to display an error message.
            "error": function(jqXHR, textStatus, errorThrown) {
                $(this).text('Couldnt Add Item');
            }
	   		 
	 })
    });
});</script>