<link rel="stylesheet" href="{{ 'pagefly.532b1b4f.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script><div style="opacity:0" class="sc-ehIIUG hKxtAB __pf" id="__pf"><div data-pf-type="Body" class="sc-cTApHj fVRyQa pf-1_"><div data-pf-type="Layout" class="sc-caiKgP ipNIuR pf-2_"><div data-pf-type="ProductPreview" class="sc-fmBDoT eNSIIY pf-3_"> </div><div data-pf-type="Section" class="sc-hUpaWb blbXGf pf-4_"><div style="--cw:1170px" class="sc-khQdMy cdJLiE"><div class="sc-bBHHQT iVWrCP pf-5_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-6_"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-jlRMkV ksCOFC pf-7_">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-bBHHQT iVWrCP pf-8_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-9_"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-fmcixO cOuJRo pf-10_">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:13.043478260869565%" class="sc-eldixR nnFAp pf-r-dg"><div data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-jtXFOG bFAUbd"><img src="{{ product.featured_image | img_url: "x401.953", scale: 2 }}" alt="{{ product.featured_image.alt }}" loading="eager" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-eXlDFz fmdpDr  pf-sm-hide pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-iqVVwt dWaGix    "><div data-pf-type="ProductImageList" class="sc-eWfWgB jwdikc pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-kTLnJg jVwDIe pf-11_ {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "master" }}" alt="{{ image.alt }}" draggable="false"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-iFMAoI dnQAZn"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-13_"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductTitle" class="sc-fXeWgy hmFFGo pf-14_">{{ product.title }}</h3><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-15_"><div data-oke-reviews-product-listing-rating>
 {{ product.metafields.okendo.ProductListingSnippet }}
</div>
</div><div data-product-type="compare_at_price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-cbTAsW kbOIjO pf-31_">{{ product.variants[0].compare_at_price | money }}</div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductPrice" class="sc-cbTAsW kbOIjO pf-16_">{{ product.variants[0].price | money }}</div><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductDescription" class="sc-cbTAsW kbOIjO pf-18_">{{ product.content }}</div><div data-pf-type="Block" class="sc-efQUeY eWLxTJ pf-19_"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-iIUSfW eByNOs pf-20_"><button data-quantity-action="decrease" type="button" data-pf-type="QuantityButton" class="pf-21_" store="[object Object]"><i class="pfa pfa-minus"></i></button><input type="number" value="1" min="1" max="{%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}{{ product.selected_or_first_available_variant.inventory_quantity }}{%- else -%}50{%- endif -%}" data-hidespinner="true" name="quantity" data-pf-type="QuantityField" class="sc-gslxyl yrhAb pf-22_"/><button data-quantity-action="increase" type="button" data-pf-type="QuantityButton" class="pf-23_" store="[object Object]"><i class="pfa pfa-plus"></i></button></div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-lkgURy irubqu pf-24_"><span>Add To Cart</span></button></div></div></div></div>{% endform %}{% endif %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-hUpaWb blbXGf pf-27_"><div style="--cw:1170px" class="sc-khQdMy cdJLiE"><div class="sc-bBHHQT iVWrCP pf-28_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-jObXwK cBBNUN pf-29_"><div data-pf-type="Custom.HTML" class="sc-giYgFv deECce pf-30_"><div data-oke-reviews-widget
   data-oke-reviews-product-id="shopify-{{ product.id }}">
   {{ product.metafields.okendo.ProductReviewsWidgetSnippet }}
</div>
</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.1.10","shopDomain":"orlybeauty.myshopify.com","elementData":{"pf-10_":{"listPosition":1,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":0,"imageSource":"featured","id":"bc570b3f-f121-4f10-8b05-5c3ae6d16943","_type":"ProductImage"},"pf-12_":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","id":"4fbc570b-3ff1-418f-904b-055c3ae6d169","_type":"ProductBadge"}},"pageTitle":"Metropolis Color Pass Box","pageType":"product","pageId":"532b1b4f-bc57-4b3f-b121-8f104b055c3a","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap","trackingIDs":[{"elementIndex":24,"elementId":"d1694375-817e-4741-b334-19e33929e6af","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.1.10/core/helper.js" defer></script>