{{ 'search.css' | asset_url | stylesheet_tag }}
{% paginate search.results by 20 %}

<div class="page-width">
  {% if search.results_count == 0 or search.performed == false %}
    <div class="empty-page-content text-center">
      <h1 class="h2 search-title">{{ 'general.search.title' | t }}</h1>
  {% else %}
    <div class="section-header text-center">
      <h1 class="h2 search-title">
        <span>{{ 'general.search.heading' | t: count: search.results_count }}</span>
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      </h1>
  {% endif %}
      
        {% if search.performed and search.results_count == 0 %}
          
          <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
        {% endif %}
  </div>
</div>


{% if search.performed %}
  {% if search.results_count > 0 %}
   
  
  {% endif %}
  <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
  <div class="category-products">
  	<ul class="list-view-items search-result-items">
    {% for item in search.results %}
      <li class="list-view-item">
        <a href="{{ item.url }}" class="list-view-item__link">
          {% if item.object_type == 'product' %}
          {% unless item.tags contains 'algolia-ignore' %}
            {% include 'product-card-search-results', product: item %}
          {% endunless %}
          {% else %}
            {% if item.image %}
              <div class="list-view-item__image-column">
                <div class="list-view-item__image-wrapper">
                  <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                </div>
              </div>
            {% endif %}

            <div class="list-view-item__title-column">
              <div class="list-view-item__title">{{ item.title }}</div>
              	
              <div class="list-view-item__desc">
                {% if item.published_at %}{{ item.published_at | date: "%b %d, %Y" }} &#8212; {% endif %}
                {{ item.content | strip_html | truncate: 200 }}
              </div>
            </div>
          	<div class="product_weight">
              {% assign current_variant = product.selected_or_first_available_variant %}
              	{{ current_variant.sku }} <span class="middle_arrow visually-hidden">|</span>
              {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}
{{variant.weight | weight_with_unit}}
{%endunless%}
{%endunless%}
{% endfor %}
            </div>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
      {% endif %}
  </div>	
{% endif %}
      

{% endpaginate %}
